<html> 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= typeof title != 'undefined' ? title : '' %></title>
    <meta name="description" content="<%= typeof description != 'undefined' ? description : '' %>">
    <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="image/png" href="/public/assets/images/favicon_fuego2.png" />

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/assets/lib/jquery/jquery.min.js"></script>
    <script src="/public/assets/lib/ejs_production.js"></script>

    <link rel="stylesheet" href="/public/assets/lib/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="/public/assets/css/animations.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap" rel="stylesheet">
    <script src="/public/assets/lib/fontawesome/9c687280b7.js"></script>
    <script defer src="/public/assets/lib/fontawesome/all.js"></script>
    <script defer src="/public/assets/lib/fontawesome/v4-shims.js"></script>

    <script src="/public/assets/lib/jquery/jquery-ui.min.js"></script>
    <script src="/public/assets/js/global.js"></script>
    <link rel="stylesheet" href="/public/assets/lib/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/public/assets/lib/jquery/jquery-ui.structure.css">
    <link rel="stylesheet" href="/public/assets/lib/jquery/jquery-ui.theme.css">
    <script src="/public/assets/lib/jquery/modal.min.js"></script>
    <link rel="stylesheet" href="/public/assets/lib/jquery/modal.min.css" />
    <script src="/public/assets/lib/Chartjs/Chart.bundle.min.js"></script>
    <script src="/public/assets/lib/lodash/lodash.min.js"></script>
    <link rel="stylesheet" href="/public/assets/lib/Chartjs/Chart.css" />
    <script type="text/javascript" src="/public/assets/lib/jquery/datetimepicker.full.min.js"></script>
    <link rel="stylesheet" href="/public/assets/lib/jquery/datetimepicker.min.css">
    <%- style %>
    <script src="/public/assets/js/burgertopbar.js"></script>
    <link rel="stylesheet" href="/public/assets/css/main.css">
    <link rel="stylesheet" href="/public/assets/css/responsivetablet.css">
    <link rel="stylesheet" href="/public/assets/css/responsivephone.css">
        

   
        

</head>

<body>
    <div class="container-fluid mainfluid">

            <div class="background_maincontainer">
                <a href="/menu" class="mainlogo">
                <img src="/public/assets/images/logo_fuego.png">
                </a>
                <p class="hello">Bonjour, <%= typeof session != 'undefined' ? session.prenom : '' %></p>
            </div>
            <div class="maincontainer">
                <%- body %>
            </div>
    </div>
</body>

</html>
