    <div class="infos_client" id="id_<%= findedClient.id %>">
        <div class="value_info_client">
            <div class="row">
                <i class="fas fa-user"></i>
                <h6><input type="text" value="<%= findedClient.nom %>" name='nom' placeholder="nom" disabled></h6>
                <h6><input type="text" value="<%= findedClient.prenom %>" name='prenom' placeholder="prenom" disabled></h6>
            </div>
        </div>

        <div class="value_info_client">
            <div class="row phone">
                <i class="fas fa-phone"></i>
                <p><input type="text" value="<%= findedClient.tel1 %>" name='tel1' placeholder="tel1" disabled></p>
            </div>
            <div class="row phone">
                <i class="fas fa-phone"></i>
                <p><input type="text" value="<%= findedClient.tel2 %>" name='tel2' placeholder="tel2" disabled></p>
            </div>
            <div class="row phone">
                <i class="fas fa-phone"></i>
                <p><input type="text" value="<%= findedClient.tel3 %>" name='tel3' placeholder="tel3" disabled></p>
            </div>
        </div>

        <div class="value_info_client address">
            <div class="row">
                <i class="fas fa-home"></i>
                <p><input type="text" value="<%= findedClient.adresse %>" name='adresse' placeholder="adresse" disabled></p>
            </div>
        </div>


        <div class="value_info_client cpville">
            <div class="row">
                <i class="fas fa-map-marked-alt"></i>
                <p><input type="text" value="<%= findedClient.cp %>" name='cp' placeholder="CP" disabled></p>

                <i class="fas fa-city"></i>
                <p><input type="text" value="<%= findedClient.ville %>" name='ville' placeholder="Ville" disabled></p>
            </div>
        </div>
        
        

        <div class="separateur"></div>
        
        <div class="value_info_client situation">
            <div class="row">
                <i class="fas fa-user-friends"></i>
                <select  name="relation" disabled>
                    <option value="<%= findedClient.relation %>" selected><%= findedClient.relation %></option>
                    <option disabled selected>Situation fam</option>
                    <option value="ENCOUPLE">En Couple</option>
                    <option value="CELIB">Célibataire</option>
                    <option value="MARIE">Mariés</option>
                    <option value="VEUF">Veuf</option>
                </select>
                
                 <i class="fas fa-restroom"></i>
                <input type="number"  name="nbadultes" value="<%= findedClient.nbadultes %>" placeholder="adultes" disabled>
                
                <i class="fas fa-baby"></i>
                <input type="number"  name="nbenfants" value="<%= findedClient.nbenfants %>" placeholder="enfants" disabled>
            </div>
        </div>


        <div class="value_info_client metier">
            <i class="fas fa-venus-mars"></i>
            <select  name="civil1" disabled class="civilite">
                <option value="<%= findedClient.civil1 %>" selected><%= findedClient.civil1 %></option>
                <option disabled selected>Civilité</option>
                <option value="M">M</option>
                <option value="Mme">Mme</option>
                <option value="autre">Autre</option>
            </select>
           
            <i class="fas fa-briefcase"></i>
            <select  name="pro1" disabled>
                <option value="<%= findedClient.pro1 %>" selected><%= findedClient.pro1 %></option>
                <option disabled selected>Situation pro</option>
                <option value="RETRAITE">Retraite</option>
                <option value="TRAVAIL">Travail</option>
                <option value="CHOMAGE">Chomage</option>
                <option value="AUTRE">Autre</option>
            </select>
            <input type="text" value="<%= findedClient.pdetail1 %>" name="pdetail1" placeholder="Métier" disabled>
            
            <i class="fas fa-business-time"></i>
            <input type="time" value="<%= findedClient.heuretravail1 %>" name="heuretravail1" style="width: 13%;" disabled>
            
            <i class="fas fa-user-clock"></i>
            <input type="text" value="<%= findedClient.age1 %>" name="age1" style="width: 10%;" placeholder="age" disabled>
        </div>

        <div class="value_info_client metier">
           <i class="fas fa-venus-mars"></i>
            <select  name="civil2" disabled class="civilite">
                 <option value="<%= findedClient.civil2 %>" selected><%= findedClient.civil2 %></option>
                                 <option disabled selected>Civilité</option>
                <option value="M">M</option>
                <option value="Mme">Mme</option>
                <option value="autre">Autre</option>
            </select>
           
            <i class="fas fa-briefcase"></i>
            <select  name="pro2" disabled>
                <option value="<%= findedClient.pro2 %>" selected><%= findedClient.pro2 %></option>
                                <option disabled selected>Situation pro</option>
                <option value="RETRAITE">Retraite</option>
                <option value="TRAVAIL">Travail</option>
                <option value="CHOMAGE">Chomage</option>
                <option value="AUTRE">Autre</option>
            </select>
            <input type="text" value="<%= findedClient.pdetail2 %>" name="pdetail2" placeholder="Métier" disabled>
             <i class="fas fa-business-time"></i>
            <input type="time" value="<%= findedClient.heuretravail2 %>" name="heuretravail2" style="width: 13%;" disabled>
            
            <i class="fas fa-user-clock"></i>
            <input type="text" value="<%= findedClient.age2 %>" name="age2" style="width: 10%;" placeholder="age" disabled>
        </div>
        
        
         <div class="value_info_client2 value_info_client4">
            <div class="row surface">
                <p>Surface</p>
                <input type="number" name="surface" value="<%= findedClient.surface %>" disabled>
                <p>m²</p>
            </div>
            <div class="row panneaux">
                <input type="checkbox" name="panneaux" id="panneaux" value="0" <%= findedClient.panneaux == 1 ? 'checked' : '' %> disabled><label for="panneaux">Panneaux</label>
            </div>
            <div class="row annee">
                <p>Année</p>
                <input type="number" name="annee" value="<%= findedClient.annee %>"  placeholder="0000" disabled>
            </div>
             
             <div class="row bilan">
                <input type="checkbox" value="0" name="be" id="be" <%= findedClient.be == 1 ? 'checked' : '' %> disabled><label for="be">Bilan</label>
            </div>
        </div>
        
        
        <div class="value_info_client2">
            <div class="row">
            <p>Propr.</p>
                <input type="number" name="anneepropr" value="<%= findedClient.anneepropr %>" class="anneepropr"  placeholder="Année" disabled>
                
                <p>Constr.</p>
                <input type="number" name="anneeconstr" value="<%= findedClient.anneeconstr %>"  class="anneeconstr"   placeholder="Année" disabled>
                
                <p>Etages</p>
                <input type="number" name="etages" value="<%= findedClient.etages %>"  class="etages"   placeholder="00" disabled>
                
                <input type="checkbox" value="0" name="ci" id="ci" <%= findedClient.ci == 1 ? 'checked' : '' %> disabled><label for="ci">Combles</label>
            </div>
        </div>
        
          <div class="value_info_client2">
            <div class="row">
                 <input type="checkbox" value="0" name="dv" id="dv" <%= findedClient.dv == 1 ? 'checked' : '' %> disabled><label for="dv">Double V.</label>
                <p>Orient.</p>
                <select  name="orientation" disabled>
                <option value="<%= findedClient.orientation %>" selected><%= findedClient.orientation %></option>
                <option disabled selected>Orientation</option>
                <option value="est">Est   </option>
                <option value="sudest">Sud-Est</option>
                <option value="sud">Sud</option>
                <option value="sudouest">Sur-Ouest</option>
                <option value="ouest">Ouest</option>
                <option value="nord">Nord</option>
                <option value="nordest">Nord-Est</option>
                <option value="nordouest">Nord-Ouest</option>
                
            </select>
                
                <p>Velux</p>
                <input type="number" name="velux" value="<%= findedClient.velux %>"  class="velux" placeholder="00" disabled>
                
                <p>Chiens A.</p>
                <input type="number" name="chiens" value="<%= findedClient.chiens %>"  class="chiens" placeholder="00" disabled>
        
            </div>
        </div>
        
        
        

    </div>

    <div class="modifier_infos_client">
        <div class=" btn_modifier_client hover_btn1">
            <i class="fas fa-pen" id="icon_modif"></i>
        </div>
    </div>

    <div class="infos_client2 ">
        
        
        
        <div class="value_info_client type_chauffage gaz">
            <div class="checkchauff">
            <input type="checkbox" value="0" name="gaz" id="gaz"  <%= findedClient.gaz == 1 ? 'checked' : '' %> disabled><label for="gaz">GAZ</label>
            </div>
            <select name="precgaz" disabled>
                <option value="<%= findedClient.precgaz %>" selected><%= findedClient.precgaz %></option>
                <option>Ville</option>
                <option>Propane</option>
            </select>
            <label for="agegaz">Age : </label><input type="text" value="<%= findedClient.agegaz %>" name="agegaz" id="agegaz" disabled>
            <label for="prixgaz">Coût/an : </label><input type="number" value="<%= findedClient.prixgaz %>" name="prixgaz" id="prixgaz" disabled>
        </div>
        
        
        <div class="value_info_client type_chauffage elec">
            <div class="checkchauff">
            <input type="checkbox" value="0" name="elec" id="elec" <%= findedClient.elec == 1 ? 'checked' : '' %> disabled><label for="elec">ELEC</label>
            </div>
            <select name="precelec" disabled>
                <option value="<%= findedClient.precelec %>" selected><%= findedClient.precelec %></option>
                <option>Convecteurs</option>
                <option>Radians</option>
                <option>Fluides</option>
            </select>
            <label for="ageelec">Age : </label><input type="text" value="<%= findedClient.ageelec %>" name="ageelec" id="ageelec" disabled>
            <label for="prixelec">Coût/an : </label><input type="number" value="<%= findedClient.prixelec %>" name="prixelec" id="prixelec" disabled>
        </div>
        
        
        
        <div class="value_info_client type_chauffage cheminee">
            <div class="checkchauff">
            <input type="checkbox" value="0" name="cheminee" id="cheminee" <%= findedClient.cheminee == 1 ? 'checked' : '' %> disabled><label for="cheminee">CHEMINEE</label>
            </div>
            <select name="precchem" disabled>
                <option value="<%= findedClient.precchem %>" selected><%= findedClient.precchem %></option>
                <option>Insert</option>
                <option>Foyer ouvert</option>
            </select>
            <label for="agechem">Age : </label><input type="text" value="<%= findedClient.agechem %>" name="agechem" id="agechem" disabled>
            <label for="prixchem">Coût/an : </label><input type="number" value="<%= findedClient.prixchem %>" name="prixchem" id="prixchem" disabled>
        </div>
        
        <div class="value_info_client type_chauffage poele">
            <div class="checkchauff">
            <input type="checkbox" value="0" name="poele" id="poele" <%= findedClient.poele == 1 ? 'checked' : '' %> disabled><label for="poele">POELE</label>
            </div>
            <select name="precpoele" disabled>
                <option value="<%= findedClient.precpoele %>" selected><%= findedClient.precpoele %></option>
                <option>Granulés</option>
                <option>Bois</option>
            </select>
            <label for="agepoele">Age : </label><input type="text" value="<%= findedClient.agepoele %>" name="agepoele" id="agepoele" disabled>
            <label for="prixpoele">Coût/an : </label><input type="number" value="<%= findedClient.prixpoele %>" name="prixpoele" id="prixpoele" disabled>
        </div>
        
        
        
        <div class="value_info_client type_chauffage fioul">
            <div class="checkchauff">
            <input type="checkbox" value="0" name="fioul" id="fioul" <%= findedClient.fioul == 1 ? 'checked' : '' %> disabled><label for="fioul">FIOUL</label>
            </div>

            <label for="agefioul">Age : </label><input type="text" value="<%= findedClient.agefioul %>" name="agefioul" id="agefioul" disabled>
            <label for="prixfioul">Coût/an : </label><input type="number" value="<%= findedClient.prixfioul %>" name="prixfioul" id="prixfioul"  disabled>
        </div>    
        
        
        <div class="value_info_client type_chauffage pacAA">
            <div class="checkchauff">
            <input type="checkbox" value="0" name="pacAA" id="pacAA" <%= findedClient.pacAA == 1 ? 'checked' : '' %> disabled><label for="pacAA">PAC AIR/AIR</label>
            </div>
            <label for="ageppacAA">Age : </label><input type="text" value="<%= findedClient.agepacAA %>" name="agepacAA" id="agepacAA" disabled>
            <label for="prixpacAA">Coût/an : </label><input type="number" value="<%= findedClient.prixpacAA %>" name="prixpacAA" id="prixpacAA" disabled>
        </div>
        
                <div class="value_info_client type_chauffage pacAE">
                    <div class="checkchauff">
            <input type="checkbox" value="0" name="pacAE" id="pacAE" <%= findedClient.pacAE == 1 ? 'checked' : '' %> disabled><label for="pacAE">PAC AIR/EAU</label>
                    </div>
            <label for="ageppacAE">Age : </label><input type="text" value="<%= findedClient.agepacAE %>" name="agepacAE" id="agepacAE" disabled>
            <label for="prixpacAE">Coût/an : </label><input type="number" value="<%= findedClient.prixpacAE %>" name="prixpacAE" id="prixpacAE" disabled>
        </div>
        
        <div class="value_info_client type_chauffage autre">
            <div class="checkchauff">
            <input type="checkbox" value="0" name="autre" id="autre" <%= findedClient.autre == 1 ? 'checked' : '' %> disabled><label for="autre">AUTRE</label>
            </div>
            
            <label for="ageautre">Age : </label><input type="text" value="<%= findedClient.ageautre %>" name="ageautre"  id="ageautre"  disabled>
            <label for="prixautre">Coût/an : </label><input type="number" value="<%= findedClient.prixautre %>" name="prixautre" id="prixautre" disabled>
        </div>
        
<!--
        <div class="value_info_client2">
            <div class="row facture">
                <p>Facture Chauff</p>
                <input type="number"  name="fchauffage" value="<%= findedClient.fchauffage %>" disabled>
                <p>€/an</p>
            </div>
            <div class="row facture">
                <p>Facture Elec</p>
                <input type="number" name="felec" value="<%= findedClient.felec %>"  disabled>
                <p>€/an</p>
            </div>
        </div>
-->

       
        <div class="value_info_client2">
            <label for="commentaire1">Commentaire</label>
        </div>
        <div class="value_info_client3">
           <textarea disabled rows="10" name="commentaire" style="width: 100%;"><%= findedClient.commentaire %></textarea>
            
        </div>
         <div class="separateur2"></div>
         <div class="separateur3"></div>

    </div>
