<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_rappels.css">
<script type="text/javascript" src="/public/assets/js/rappel.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Rappels</h2>
    </div>
</div>

<% if(locals.infoObject && infoObject.error) { %>
    <div class="row">
        <div class="col-md-12">
            <p class="error_message" id="error_message"><%= infoObject.error %></p>
        </div>
    </div>
<% } else { %>
    <div class="row select_date_rappels">
        <label>Du : </label>
        <input type="text" name="dateDebut" class="datepicker" value="<%= locals.dateDebut ? dateDebut : '' %>" autocomplete="off">
        <label>au : </label>
        <input type="text" name="dateFin" class="datepicker" value="<%= locals.dateFin ? dateFin : '' %>" autocomplete="off">
        <a href="#" id="btnFilterDate"><i class="fas fa-check btn_item hover_btn3"></i></a>
    </div>    
    <div class="ctn_table">
        <table>
            <thead>
                <th  class="tableau_nom">Nom</th>
                <th  class="tableau_prenom">Prénom</th>
                <th  class="tableau_cp">Code postal</th>
                <th class="tableau_ville">Ville</th>
                <th class="tableau_commentaire">Commentaire</th>
                <th class="tableau_daterappel">Date de rappel</th>
            </thead>
            <tbody>
                <% if(locals.infoObject && infoObject.message) { %>
                    <tr><td colspan="6"><%= infoObject.message %></td></tr>
                <% } else { %>
                    <% clients.forEach((client) => { %>
                        <tr class="historique_ligne" id="<%= client.id %>">
                            <td><%= client.nom %></td>
                            <td><%= client.prenom %></td>
                            <td><%= client.cp %></td>
                            <td><%= client.ville %></td>
                            <td class="commentaire3"><%= client.Historiques[0].commentaire %></td>
                            <td><%= client.Historiques[0].dateevent %></td>
                        </tr>
                    <% }); %>
                <% } %>
            </tbody>
        </table>    
    </div>
<% } %>