    <h2>Informations client</h2>
    <div class="ctn_infos_client"></div>

    <h3>Détail rendez-vous</h3>
    <h6><%= findedRdv.vdate %></h6>
    <p><%= findedRdv.commentaire %></p>


    
    <div class="row">
    <div class="col-md-6">
        <h3>Etat rendez-vous</h3>
    
    <input type="hidden" name="idRdv" value="<%= findedRdv.id %>" />
    <div class="row checkctn">
        <div class="checksousctn">
            <input type="radio" name="statut" value="1" <%= findedRdv.statut == 1 ? 'checked' : '' %>><label for="checkconfirme">Confirmé</label>
        </div>
        <div class="checksousctn">
            <input type="radio" name="statut" value="0" <%= findedRdv.statut == 0 ? 'checked' : '' %>><label for="checknonconfirme">Non Confirmé</label>
        </div>
        <div class="checksousctn">
            <input type="radio" name="statut" value="3" <%= findedRdv.statut == 3 ? 'checked' : '' %>><label for="checkarepo">A repositionner</label>
        </div>
    </div>
    </div>
    
        <div class="col-md-6">
            <div class="vendeurctn">
                <h3>Assigner rendez-vous</h3>
            <select name="idVendeur">
                <option value="<%= findedRdv.idVendeur %>" selected disabled><%= findedRdv.User != null ? findedRdv.User.nom+' '+findedRdv.User.prenom : '' %></option>
                <option value=""></option>
                <% findedUsers.forEach((user) => { %>
                    <option value="<%= user.id %>"><%= user.nom+' '+user.prenom %></option>
                <% }) %>
            </select>
        </div>
        
        </div>
    
    </div>
    
    
    
    <h3>Compte rendu du rendez-vous</h3>
    <select class="resultatrdv" name="idEtat">
        <option value="<%= findedRdv.idEtat %>" selected disabled><%= findedRdv.Etat != null ? findedRdv.Etat.nom : '' %></option>
        <option value=""></option>
        <option value="7">Absent</option>
        <option value="6">Annulé</option>
        <option value="2">DEM Suivi</option>
        <option value="3">DEM RAF</option>
        <option value="10">Pas été</option>
        <option value="11">Refus DEM</option>
        <option value="12">Repo Com</option>
        <option value="13">Repo Client</option>
        <option value="1">Vente</option>   
    </select>
    <a href="" class="supprimerrdv">Supprimer ce rendez-vous</a>
    <a class="validrdv"><i class="fas fa-check btn_item hover_btn3"></i></a>
