    <h2>Informations client</h2>
    <div class="ctn_infos_client"></div>




    <div class="row etat_rdv">
    <div class="col-md-6">
       
       <h3>Détail rendez-vous</h3>
    <h6 class="daterdv_noedit"><%= findedRdv.date %></h6>
    <input type="text" class="datetimepicker daterdv_edit" name="date" value="<%= findedRdv.date.split(' ')[0].split('/').reverse().join('/')+' '+findedRdv.date.split(' ')[1] %>">
    
    
    <p class="comrdv_noedit"><%= findedRdv.commentaire %></p>
    <input type="text" class="comrdv_edit" name="commentaire" value="<%= findedRdv.commentaire %>"> 
    
    <p class="telepro">Téléconseiller référent : <%= findedRdv.Historique.User.nom+' '+findedRdv.Historique.User.prenom %> le <%= findedRdv.Historique.createdAt %></p>
        <div class="vendeurctn">
                <h3>Assigner rendez-vous</h3>
                <select name="idVendeur">
                    <option value="<%= findedRdv.idVendeur %>" selected disabled><%= findedRdv.User != null ? findedRdv.User.nom+' '+findedRdv.User.prenom : '' %></option>
                    <option value=""></option>
                    <% findedUsers.forEach((user) => { %>
                    <option value="<%= user.id %>"><%= user.nom+' '+user.prenom %></option>
                    <% }) %>
                </select>
            </div>


            <div class="compterendu_rdv">
                <h3>Compte rendu du rendez-vous</h3>
                <select class="resultatrdv" name="idEtat">
                    <option value="<%= findedRdv.idEtat %>" selected disabled><%= findedRdv.Etat != null ? findedRdv.Etat.nom : '' %></option>
                    <option value=""></option>
                    <option value="7">Absent</option>
                    <option value="6">Annulé</option>
                    <option value="2">DEM Suivi</option>
                    <option value="3">DEM RAF</option>
                    <option value="10">Pas été</option>
                    <option value="11">Refus DEM</option>
                    <option value="12">Repo Com</option>
                    <option value="13">Repo Client</option>
                    <option value="1">Vente</option>
                </select>

              <div class="date_repo" style="display: none">
                    <h3>Repositionner rendez-vous</h3>
                    <label>Jour et Heure du rendez-vous :</label>
                    <input type="text" name="daterepo" class="datetimepicker" autocomplete="off">
                                            <label for="r">R :</label>
                        <input type="number" name="r" min="2" placeholder="0">

                    <div class="commentaire_repo">

                        <label for="commentaire2">Commentaire</label>
                        <input name="commentairerepo" type="text">
                    </div>
                </div>
            </div>
            
            
        </div>

        <div class="col-md-6 rdvcolright">
            <h3>Confirmer rendez-vous</h3>

            <div class="colonnes_bouton1">
                <div class="boutons_ligne ligne1">
                    <button id="call_1" class="appel hover_btn1">
                        <img src="/public/assets/images/c1.png">
                    </button>
                    <button id="call_2" class="appel hover_btn1">
                        <img src="/public/assets/images/c2.png">
                    </button>
                    <button id="call_3" class="appel hover_btn1">
                        <img src="/public/assets/images/c3.png">
                    </button>
                    <button class="hangup hover_btn1">
                        <img src="/public/assets/images/hangup.png">
                    </button>
                </div>
            </div>
            
            <h3>Etat rendez-vous</h3>

            <input type="hidden" name="idRdv" value="<%= findedRdv.id %>" />
            <div class="row checkctn">
                <div class="checksousctn">
                    <input type="radio" id="checkconfirme" name="statut" value="1" <%= findedRdv.statut == 1 ? 'checked' : '' %>><label for="checkconfirme">Confirmé</label>
                </div>
                <div class="checksousctn">
                    <input type="radio" id="checknonconfirme" name="statut" value="0" <%= findedRdv.statut == 0 ? 'checked' : '' %>><label for="checknonconfirme">Non Confirmé</label>
                </div>
                <div class="checksousctn">
                    <input type="radio" id="checkarepo" name="statut" value="3" <%= findedRdv.statut == 3 ? 'checked' : '' %>><label for="checkarepo">A repositionner</label>
                </div>
            </div>

        </div>
        
                        

    </div>
    
  



    <a href="" class="supprimerrdv">Supprimer ce rendez-vous</a>
    <a class="validrdv"><i class="fas fa-check btn_item hover_btn3 save"></i></a>
