<% if(infoObject && infoObject.error) { %>
    <p class="error_message"><%= infoObject.error %></p>
<% } else { %>
    <div class="ctn_table">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Numero</th>
                    <th>Message</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <% if(infoObject && infoObject.message) { %>
                    <tr>
                        <td colspan="5"><%= infoObject.message %></td>
                    </tr>
                <% } else { %>
                    <% for(const sms of listeSMS) { %>
                        <tr id="<%= sms.id %>" data-action="<%= action %>">
                            <td><%= sms.date %></td>
                            <td><%= sms.client %></td>
                            <td><%= sms.numero %></td>
                            <td><%= sms.message %></td>
                            <td><button type="button" class="btnDeleteSMS">Supprimer</button></td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
<% } %>