<link rel="stylesheet" href="/public/assets/css/parametres/equipes_commerciaux.css">
<script src="/public/assets/js/parametres/parametres_attributions.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>


<div class="row">
    <div class="col-md-6">
        <h2>Attributions Commerciaux / Plateaux</h2> 
    </div>

</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <ul class="roles_liste">
                <% findedStructures.forEach((structure) => { %>
                    <li id="idrole_<%= structure.id %>" class="role_item">
                        <p><%= structure.nom %></p>
                    </li>
                <% }) %> 
            </ul>
        </div>



        <div class="col-md-6">
            <ul class="privileges_liste">
                <% findedUsers.forEach((user) => { %>
                    <li id="idprivilege_<%= user.id %>" class="privilege_item">
                        <p><%= user.nom+' '+user.prenom %></p>
                    </li>  
                <% }) %>
            </ul>
            <div class="validsupprrole">
                <i class="fas fa-times btn_item hover_btn3"></i>
                <i class="fas fa-check btn_item hover_btn3"></i>

            </div>

        </div>
    </div>
</div>
