<link rel="stylesheet" href="/public/assets/css/parametres/mon_compte.css">
<script type="module" src="/public/assets/js/parametres/parametres_mon_compte.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

<% const isCommercial = session.Role.typeDuRole === 'Commercial' %>
<div class="container infos_moncompte">
    <div class="row">
        <div class="col-sm-12">
            <h2>Mon compte</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form id="formMonCompte" class="infos_moncompte">
                <div class="row">
                    <div class="col-md-2"><label>NOM* :</label></div>
                    <div class="col-md-10"><input type="text" placeholder="NOM" name="nom" value="<%= session.nom || '' %>" required></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>Prénom* :</label></div>
                    <div class="col-md-10"><input type="text" placeholder="Prénom" name="prenom" value="<%= session.prenom || '' %>" required></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>Tél port<%= isCommercial ? '*' : '' %> :</label></div>
                    <div class="col-md-10"><input type="tel" placeholder="0600000000" pattern="^0[6-7]\d{8}$" name="tel1" value="<%= session.tel1 || '' %>" <%= isCommercial ? 'required' : '' %>></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>Tél secondaire :</label> </div>
                    <div class="col-md-10"><input type="tel" placeholder="0300000000" name="tel2" pattern="\d{10}" value="<%= session.tel2 || '' %>"></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>Email<%= isCommercial ? '*' : '' %> :</label></div>
                    <div class="col-md-10"><input type="email" placeholder="email@societe.fr" name="mail" value="<%= session.mail || '' %>" <%= isCommercial ? 'required' : '' %>></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>Adresse Postale :</label></div>
                    <div class="col-md-10"><input type="text" placeholder="03 Rue des Roses 21000 Dijon" name="adresse" value="<%= session.adresse || '' %>"></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>DEP :</label></div>
                    <div class="col-md-10"><input type="text" placeholder="21" name="dep" value="<%= session.dep || '' %>"></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>Tél OVH :</label></div>
                    <div class="col-md-10"><input type="tel" placeholder="0900000000" pattern="\d{10}" name="telcall" value="<%= session.telcall || '' %>"></div>
                </div>
        
                <div class="row">
                    <div class="col-md-2"><label>Clé OVH :</label></div>
                    <div class="col-md-10"><input type="text" placeholder="aa-12345" name="billing" value="<%= session.billing || '' %>"></div>
                </div>

                <div class="col-sm-12" id="div_info" style="display: none;">
                    <p></p>
                </div>
        
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-2"><button type="submit"><i class="fas fa-check btn_item hover_btn3"></i></button></div>
                </div>
            </form>
        </div>
    </div>
</div>

























