<link rel="stylesheet" href="/public/assets/css/parametres/roles_privileges.css">
<script type="text/javascript" src="/public/assets/js/parametres/parametres_privileges.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Rôles</h2>
    </div>
    <div class="col-md-6">
        <h2>Privilèges</h2>
    </div>
</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <ul class="roles_liste">
                <% findedRoles.forEach((role) => { %>
                    <li id="idrole_<%= role.id %>" class="role_item">
                        <p><%= role.nom %></p>
                        <p>00</p>
                    </li>
                <% }) %>    
            </ul>
            <a class="addrole">
                <p>Ajouter une équipe</p>
                <i class="fas fa-plus btn_item hover_btn3"></i>
            </a>
        </div>



        <div class="col-md-6">
            <ul class="privileges_liste">
                <% findedPrivileges.forEach((privilege) => { %>
                    <li id="idprivilege_<%= privilege.id %>" class="privilege_item">
                        <p><%= privilege.nom %></p>
                    </li>
                <% }) %>
            </ul>
            <div class="validsupprrole">
                <i class="fas fa-times btn_item hover_btn3"></i>
                <i class="fas fa-check btn_item hover_btn3"></i>

            </div>

        </div>
    </div>






            <ul class="utilisateur_liste">
                <% findedUsers.forEach((user) => { %>
                    <li class="utilisateur_item">
                    <p><%= user.nom %> <%= user.prenom %></p>
                    <select>
                        <% findedRoles.forEach((role) => { %>
                            <option><%= role.nom %></option>
                        <% }) %>    
                    </select>
                    <div class="validsupprutilisateur">
                        <i class="fas fa-times btn_item hover_btn3"></i>
                        <i class="fas fa-check btn_item hover_btn3"></i>
                    </div>
                </li>
                <% }) %>
            </ul>

            <a class="addutilisateur">
                <p>Ajouter un utilisateur</p>
                <i class="fas fa-plus btn_item hover_btn3"></i>
            </a>

        </div>

    </div>



</div>
