<link rel="stylesheet" href="/public/assets/css/parametres/roles_privileges.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Utilisateurs</h2>
    </div>
  
</div>


<div class="container-fluid">
            <a class="addutilisateur">
                <p>Ajouter un utilisateur</p>
                <i class="fas fa-plus btn_item hover_btn3"></i>
            </a>



<div class="ctn_table">

<table>
        <thead>
            <th  class="tableau_nomutil">Nom</th>
            <th  class="tableau_prenomutil">Prénom</th>
            <th  class="tableau_roleutil">Rôle</th>
            <th class="tableau_tel1util">Tel 1</th>
            <th class="tableau_tel2util">Tel 2</th>
            <th class="tableau_emailutil">Email</th>
           
        </thead>
        <tbody>
            <% findedUsers.forEach((user) => {%>
              <tr>
                  <td><%= user.nom %></td>
                  <td><%= user.prenom %></td>
                  <td><%= user.Role.nom %></td>
                  <td><%= user.tel1 %></td>
                  <td><%= user.tel2 %></td>
                  <td><%= user.mail %></td>
              </tr>
            <% }) %>  
        </tbody>
    </table>
   </div>
<!--


<div id="modal">
    <h2>Nom Utilisateur</h2>
    <input type="text" name="nomutil" disabled>
    <input type="text" name="prenomutil" disabled>
    <select>
        <option>Rôle privilège</option>
        <option>Rôle privilège</option>
        <option>Rôle privilège</option>
        <option>Rôle privilège</option>
        <option>Rôle privilège</option>
    </select>
    <input type="tel" name="tel1util" disabled>
    <input type="tel" name="tel2util" disabled>
    <input type="email" name="emailutil" disabled>
</div>



-->
























<!--

    <div class="row">
        <div class="col-md-6">
            <ul class="utilisateur_liste">
                <li class="utilisateur_item">
                   <input type="text" value="Utilisateur" disabled>
                    
                    <select>
                        <option>Rôle</option>
                    </select>
                    <div class="validsupprutilisateur">
                        <i class="fas fa-times btn_item hover_btn3"></i>
                        <i class="fas fa-pen btn_item hover_btn3"></i>
                        <i class="fas fa-check btn_item hover_btn3"></i>
                    </div>
                </li>
                
            </ul>



        </div>

    </div>

-->


</div>
