<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AGENCY</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">

    
</head>
<style>
        .mainfiche{
    padding: 0 25px;    
    max-width:1400px; 
    box-sizing: border-box;

}

.col {
    margin: 0;
    padding: 0;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}


@media (min-width: 768px){
.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
    
    
}



/********************************Tab*********************************/

.ctn_table {
    margin: 15px 25px 35px 25px;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th {
border: 2px solid #f3705a;
    font-size: 12px;
    text-align: center;
    background-color: #f3705a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
}


td {
    text-align: center;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #999999;
    padding: 5px 10px !important;
}

.invisible{
    border : none;
}
.soustotal{
    font-size: 12px;
    text-align: right;
    background-color: #dee0e7;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
        border: 2px solid #3c3c3c;
}

.materiel{
    width : 60%;
}




.tableTVA{
    width : 40%;
    margin-top: -75px; 
    page-break-after: always; 
}

.taux{
     font-size: 12px;
    text-align: left;
    background-color: #dee0e7;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
        border: 2px solid #3c3c3c;
    width: 50%;
}

.pourcent{
        margin: 0;
    padding: 0 35px;
    display: inline-block;
}
/*****************************************************************/
    .mainfiche{
    padding: 0 25px;    
    max-width:1400px; 
    box-sizing: border-box;

}


.col{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
    
}
h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0 15px 0;
}

h3{ 
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}


.entete{

    padding: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.entete img{
    max-width: 150px;
}

.entete_milieu h1{
    font-size: 40px;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    color : #000000;
    text-transform: uppercase;
}

.entete_milieu p{
    font-size: 12px;
    text-align: center;
    line-height: normal;
    font-weight: 500;
}


.entete_droite p{
    font-size: 9px;
    text-align: left;
    line-height: normal;
    font-weight: 400;
}
.numclient{
    padding: 5px;
    margin: 5px 0; 
    border : 1px solid #000000;
}

.entete_gauche {
    padding: 25px;
}

    
    /*******************************************************************/
    
    
.infos{
    font-size: 10px;
}
</style>
<body>
    <div class="container-fluid mainfiche">
        <div class="entete row">
            <div class="col-md-2 entete_gauche">
<!--                <img src="/public/assets/images/logo_fuego.png" alt="logo_fuego">-->
            </div>
            <div class="col-md-8 entete_milieu">
                <h1>AGENCY <%= moment(date, 'DD-MM-YYYY').format('DD/MM/YYYY') %></h1>
<!--
                <p>HI-TECH HABITATS SERVICES - SAS au capital de 100 000 euros</p>
                <p>RCS Paris 383 985 892 00058 - Code NAF 4322B - TVA FR 44 383 985 892</p>
                <p>115 rue Saint-Dominique 75007 PARIS - Tél : 01 47 99 49 97 - contact@h-habitatsservices.com</p>
                <p>www.hitech-habitats-services.com</p>
-->
            </div>
            <div class="col-md-2 entete_droite">
<!--                <img src="/public/assets/images/logo_hhs.png" alt="logo_bdc">                -->
            </div>
        </div>
    </div>
<% 
let currentCommercial = ""

rdvs.forEach( rdv => { 
    if(currentCommercial != "" && currentCommercial != rdv.User.nom+' '+rdv.User.prenom){ %>
            </tbody>
        </table>
    <% }
    if(currentCommercial != rdv.User.nom+' '+rdv.User.prenom){
        currentCommercial = rdv.User.nom+' '+rdv.User.prenom
    %>
<h3><%= rdv.User.nom+' '+rdv.User.prenom  %></h3>
<table>
        <thead>
            <th  class="agency_daterdv">Date RDV</th>
            <th  class="agency_h">Heure</th>
            <th  class="agency_nomclient">Nom Client</th>
            <th class="agency_prenomclient">Prénom Client</th>
            <th class="agency_adresseclient">Adresse</th>
            <th class="agency_CP">CP</th>
            <th class="agency_ville">Ville</th>
            <th class="agency_tel">Téléphone</th>
            <th class="agency_rapport">Rapport</th>
            <th class="agency_commentaire">Commentaire</th>
        </thead>
        <tbody>

<% } %>            
           
                <tr id="historique_ligne">
                    <td><%= moment(rdv.date, 'DD-MM-YYYY HH:mm').format('DD/MM/YYYY') %></td>
                    <td><%= moment(rdv.date, 'DD-MM-YYYY HH:mm').format('HH:mm') %></td>
                    <td><%= rdv.Client.nom %></td>
                    <td><%= rdv.Client.prenom %></td>
                    <td><%= rdv.Client.adresse %></td>
                    <td><%= rdv.Client.cp %></td>
                    <td><%= rdv.Client.ville %></td>
                    <td><%= rdv.Client.tel1 %></td>
                    <td><%= rdv.Etat != null ? rdv.Etat.nom : '' %></td>
                    <td><%= rdv.commentaire %></td>
                </tr>
 <% }) %>
    </tbody>
</table>
</body>
</html>
