<link rel="stylesheet" href="/public/assets/css/facturation/main.css">
<link rel="stylesheet" href="/public/assets/css/facturation/factures.css">
<script type="text/javascript" src="/public/assets/lib/moment/moment-with-locales.min.js"></script>
<script defer src="/public/assets/js/facturation/main.js"></script>
<script defer src="/public/assets/js/facturation/factures.js"></script>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Factures</h2>
        </div>
    </div>
<% if(locals.infos && infos.error) { %>
    <div class="row">
        <p class="error_message"><%= infos.error %></p>
    </div>
<% } else { %>
    <div class="row" id="divShowAddFacture">
        <p>Nouvelle facture </p>
        <button id="btnShowAddFacture" title="Ouvrir le volet de création"><i class="fas fa-plus btn_item hover_btn3"></i></button>
    </div>
    <div class="row boxCreateModify" style="display: none;">
        <form id="formAddModify">
            <h4 class="title">Création</h4>
            <input type="hidden" id="idFacture" value="">
            <div class="row">
                <label for="selectTypeFacture">Type de facture</label>
                <select id="selectTypeFacture">
                    <option value="solde">SOLDE</option>
                    <option value="acompte">ACOMPTE</option>
                    <option value="avoir">AVOIR</option>
                </select>
            </div>
            <div id="divSelectFacture" class="row" style="display: none;">
                <label for="selectFactureFacture">Facture* : </label>
                <select id="selectFactureFacture">
                    <option disabled selected>Choisir une facture</option>
                <!-- <% if(factures) for(const facture of factures) { %>
                    <% if(facture.type !== 'avoir') { %>
                        <option value="<%= `select_facture_${facture.id}` %>" data-type="<%= facture.type %>"><%= `${facture.refFacture} du ${facture.dateEmission} - ${facture.Prestation.ClientBusiness.nom} - ${facture.prixTTC} €` %></option>
                    <% } %>
                <% } %> -->
                </select>
            </div>
            <div id="divChoixNormal">
                <div id="divPrestationOrDevis" >
                    <label>A partir de</label>
                    <label for="checkPrestationOrDevis">Prestation</label>
                    <label class="switch">
                        <input type="checkbox" id="checkPrestationOrDevis" checked>
                        <span class="slider round"></span>
                    </label>
                    <label for="checkPrestationOrDevis">Devis</label>
                </div>
                <div class="row" id="divSelectPrestationFacture" style="display: none;">
                    <label for="selectPrestationFacture">Prestation*</label>
                    <select id="selectPrestationFacture">
                        <option selected disabled>Choisir une prestation</option>
                    </select>
                </div>
                <div class="row" id="divSelectDevisFacture">
                    <label for="selectDevisFacture">Devis*</label>
                    <select id="selectDevisFacture">
                        <option selected disabled>Choisir un devis</option>
                    </select>
                </div>
            </div>
            <div id="showPrestation" class="ctn_table">
                <table>
                    <thead>
                        <tr>
                            <th>Désignation produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Sous-total</th>
                        </tr>
                    </thead>
                    <tbody id="listeProduits">
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                Estimation prix : <span id="estimationPrix"></span> €
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                Restant à payer : <span id="reste-a-payer"></span> €
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div id="divAcompte" style="display: none;">
                <label for="valeurAcompteFacture">Montant acompte</label>
                <div id="divContentAcompte">
                    <input type="number" id="valeurAcompteFacture" step=".01" min=".01" placeholder="20" value="20">
                    <label class="bumpRadio">      
                        <input type="radio" id="acompteValeur" name="isAcomptePourcentageFacture" value="false">              
                        <label class="labelBumpRadio" for="acompteValeur" title="En euros">€</label>                    
                    </label>
                    <label class="bumpRadio">                    
                        <input type="radio" id="acomptePourcent" name="isAcomptePourcentageFacture" value="true" checked>
                        <label class="labelBumpRadio" for="acomptePourcent" title="En pourcentage">%</label>
                    </label>   
                </div>                            
            </div>
            <div class="row" id="divRemise">
                <label for="remiseFacture">Remise</label>
                <input type="number" id="remiseFacture" step=".01" placeholder="0" value="0"> €
            </div>
            <div class="row">
                <label for="tvaFacture">TVA applicable</label>
                <input type="number" id="tvaFacture" step=".01" min="2.1" placeholder="20" value="20"> %
            </div>            
            <div class="row">
                <label for="prixHTFacture">Prix HT</label>
                <input type="number" id="prixHTFacture" step=".01" disabled required> €
            </div>
            <div class="row">
                <label for="prixTTCFacture">Prix TTC</label>
                <input type="number" id="prixTTCFacture" step=".01" disabled required> €
            </div>
            <div class="row">
                <label for="dateEmissionFacture">Date d'émission</label>
                <input type="text" class="datepicker" id="dateEmissionFacture" value="<%= moment().format('DD/MM/YYYY') %>">
            </div>
            <div class="row">
                <label for="dateEcheanceFacture">Date d'échéance*</label>
                <input type="text" class="datepicker" id="dateEcheanceFacture" value="<%= moment().add(1, 'months').format('DD/MM/YYYY') %>">
            </div>
            <div class="row boxSubmit">
                <i id="btnCancel" class="fas fa-times btn_item hover_btn3" title="Annuler"></i>
                <button type="submit"><i class="fas fa-check btn_item hover_btn3" title="Valider"></i></button>
            </div>
            <div class="boxInfos">
                <p id="textInfos" class="error_message" style="display: none;"></p>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form id="formArchive">
                <div class="row">
                    <div class="col-md-auto">
                        <label>Téléchargement groupé :</label>
                    </div>
                    <div class="col-md-auto">
                        <input type="text" class="datepicker" placeholder="Début" required>
                        <input type="text" class="datepicker" placeholder="Fin" required>
                    </div>
                    <div class="col-md-auto">
                        <input type="submit" value="Télécharger">
                    </div>
                </div>             
            </form>
        </div>
    </div>
    <div class="row ctn_table">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Ref(s)</th>
                    <th>Type</th>
                    <th>Client</th>
                    <th>Pôle</th>
                    <th>TVA</th>
                    <th>HT / TTC</th>
                    <th>Echéance</th>
                    <th>Paiement</th>
                    <th>Annulée</th>
                    <th class="td_options">Options</th>
                </tr>
            </thead>
            <tbody>
                <% if(locals.infos && infos.message) { %>
                    <td colspan="11"><%= infos.message %></td>
                <% } else { %>
                    <% for(const facture of factures) { %>
                        <tr id="<%= `facture_${facture.id}` %>">
                            <td><%= moment(facture.dateEmission, 'DD/MM/YYYY').format('DD/MM/YYYY') %></td>                            
                            <td><%= `${facture.Devis ? facture.Devis.refDevis + ' / ' : ''}${facture.Facturereferente ? facture.Facturereferente.refFacture + ' / ' : ''}${facture.refFacture}` %></td>
                            <td><%= facture.type.toUpperCase() %></td>
                            <td><a href="<%= `/facturation/clientsBusiness#client_${facture.Prestation.ClientBusiness.id}` %>" target="_blank"><%= facture.Prestation.ClientBusiness.nom %></a></td>
                            <td><%= facture.Prestation.Pole.nom %></td>
                            <td><%= `${facture.tva} %` %></td>
                            <td><%= `${facture.prixHT} € / ${facture.prixTTC} €` %></td>
                            <td><%= facture.dateEcheance %></td>
                            <td <% if(facture.datePaiement) { %> title="<%= facture.TypePaiement.nom %>" <% } %> ><%= `${facture.datePaiement ? facture.datePaiement : 'Impayée'}` %></td>
                            <td><%= `${facture.isCanceled ? '✔' : ''}` %></td>
                            <td class="td_options">
                                <a href="<%= `/facturation/prestations#prestation_${facture.Prestation.id}` %>" target="_blank" title="Voir plus"><i class="fas fa-search-plus btn_item hover_btn3 btnMore"></i></a>
                                <% if(facture.datePaiement === null && !facture.isCanceled) { %>
                                    <% if(facture.type !== 'avoir') { %>
                                        <i class="fas fa-cog btn_item hover_btn3 btnModify" title="Modifier"></i>
                                    <% } %>
                                    <i class="fas fa-euro-sign btn_item hover_btn3 btnPaiement" title="Paiement"></i>
                                <% } %>   
                                <a href="<%= `/facturation/factures/${facture.id}/pdf` %>" target="_blank"><i class="fas fa-file-pdf btn_item hover_btn3 btnToPDF" title="Ouvrir le PDF"></i></a>
                                <% if(!facture.isCanceled && facture.type !== 'avoir') { %>
                                    <i class="fas fa-times btn_item hover_btn3 btnCancelFacture" title="Annuler"></i>
                                <% } %>
                            </td>
                        </tr>                        
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>        
<% } %>    
</div>
<div class="modal" id="modalPaiement" style="display: none;">
    <div class="container-fluid">
        <form id="formPaiement">
            <h4 class="title">Paiement facture <span id="refFacturePaiement"></span></h4>
            <input type="hidden" id="idFacturePaiement" value="">
            <div class="row">
                <label for="typePaiement">Moyen de paiement</label>
                <select id="selectTypePaiement" required>
                    <option disabled selected>Choisir un moyen de paiement</option>
                </select>
            </div>
            <div class="row">
                <label for="datePaiementFacture">Date de paiement</label>
                <input type="text" class="datepicker" id="datePaiementFacture" value="<%= moment().format('DD/MM/YYYY') %>">
            </div>
            <div class="row modalSubmit">
                <i id="btnCancelPaiement" class="fas fa-times btn_item hover_btn3" title="Annuler"></i>
                <button type="submit"><i class="fas fa-check btn_item hover_btn3" title="Valider"></i></button>
            </div>
            <div class="boxInfos">
                <p id="textInfosModal" class="error_message" style="display: none;"></p>
            </div>
        </form>
    </div>
</div>