<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="/public/assets/css/pdf/BDC.css">
    </head>

    <% const { client, listeProduits, infosPaiement, observations, datePose, dateLimitePose, prix } = bdc %>

    <body>
        <div class="container-fluid mainfiche">
            <h2>Renseignements client</h2>
            <div class="row ligne ligne2">
                <label>Intitulé</label>
                <p class="emplacement"><%= client.intitule %></p>
            </div>
            <div class="row ligne ligne1">
                <label>Nom</label>
                <p class="emplacement"><%= client.nom1 %></p>
                <label>Prénom</label>
                <p class="emplacement"><%= client.prenom1 %></p>
            </div>
        <% if(client.nom2 && client.prenom2) { %>
            <div class="row ligne ligne1">
                <label>Nom</label>
                <p class="emplacement"><%= client.nom2 %></p>
                <label>Prénom</label>
                <p class="emplacement"><%= client.prenom2 %></p>
            </div>
        <% } %>

            <div class="row ligne ligne2">
                <label>Adresse</label>
                <p class="emplacement"><%= client.adresse %></p>
            </div>
            <div class="row ligne ligne2">
                <label>Complément 1</label>
                <p class="emplacement"><%= client.adresseComplement1 %></p>
            </div>
            <div class="row ligne ligne2">
                <label>Complément 2</label>
                <p class="emplacement"><%= client.adresseComplement2 %></p>
            </div>

            <div class="row ligne ligne3">
                <label>CP Ville</label>
                <p class="emplacement"><%= `${client.cp}, ${client.ville}` %></p>
            </div>

            <div class="row ligne ligne3">
                <label>Email</label>
                <p class="emplacement"><%= client.email %></p>
            </div>

            <div class="row ligne ligne4">
                <label>Tel fixe</label>
                <p class="emplacement"><%= client.telephoneFixe %></p>
                <label>Port.</label>
                <p class="emplacement"><%= client.telephonePort %></p>
            </div>


            <h2>Renseignements techniques</h2>

            <div class="row ligne ligne5">
                <label>Installation électrique :</label>
                <div class="<%= client.ficheRenseignementsTechniques.typeInstallationElectrique === 'monophasée' ? 'selectedBox' : 'box' %>">monophasée</div>
                <div class="<%= client.ficheRenseignementsTechniques.typeInstallationElectrique === 'triphasée' ? 'selectedBox' : 'box' %>">triphasée</div>
                <label>Puissance</label>
                <p class="emplacement"><%= client.ficheRenseignementsTechniques.puissanceKW %></p>
                <label>KW</label>
                <p class="emplacement"><%= client.ficheRenseignementsTechniques.puissanceA %></p>
                <label>A</label>
            </div>

            <div class="row ligne ligne6">
                <label>Maison construite en</label>
                <p class="emplacement"><%= client.ficheRenseignementsTechniques.anneeConstructionMaison %></p>
                <label>ou depuis environ</label>
                <p class="emplacement"><%= client.ficheRenseignementsTechniques.dureeSupposeeConstructionMaison %></p>
                <label>ans | Propriétaire depuis</label>
                <p class="emplacement"><%= client.ficheRenseignementsTechniques.dureeAcquisitionMaison %></p>
                <label>ans</label>
            </div>

            <div class="row ligne ligne7">
                <label>Résidence d'habitation :</label>
                <div class="<%= client.ficheRenseignementsTechniques.typeResidence === 'principale' ? 'selectedBox' : 'box' %>">principale</div>
                <div class="<%= client.ficheRenseignementsTechniques.typeResidence === 'secondaire' ? 'selectedBox' : 'box' %>">secondaire</div>
                <label>Superficie</label>
                <p class="emplacement"><%= client.ficheRenseignementsTechniques.superficie %></p>
            </div>

            <h2>Commande</h2>
            <div class="ctn_table">
                <table>
                    <thead>
                        <th>Qté</th>
                        <th class="materiel">Désignation (Matériel - Pose - garantie)</th>
                        <th>Puissance (KW)</th>
                        <th>Prix unitaire HT (€)</th>
                        <th>Prix unitaire TTC (€)</th>
                    </thead>
                    <tbody>
                    <% for(const produit of listeProduits) { %>
                        <tr>
                            <td><%= produit.quantite %></td>
                            <td><%= produit.designation %></td>
                            <td><%= (produit.caracteristique && produit.uniteCaracteristique.trim().toUpperCase() === 'KW') ? produit.caracteristique : '' %></td>
                            <td><%= produit.prixUnitaireHT %></td>
                            <td><%= produit.prixUnitaireTTC %></td>
                        </tr>
                        <% if(produit.isGroupe) { %>
                            <tr>
                                <td class="invisible"></td>
                                <td colspan="4">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>QTÉ</td>
                                                <td>DÉSIGNATION (MATÉRIEL - POSE - GARANTIE)</td>
                                                <td>PUISSANCE (KW)</td>
                                            </tr>
                                        <% for(const sousProduit of produit.listeProduits) { %>
                                            <tr>
                                                <td><%= sousProduit.quantite %></td>
                                                <td><%= sousProduit.designation %></td>
                                                <td><%= (sousProduit.caracteristique && sousProduit.uniteCaracteristique.trim().toUpperCase() === 'KW') ? `${sousProduit.caracteristique} KW` : '' %></td>
                                            </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                        <tr>
                            <td class="invisible"></td>
                            <td class="invisible"></td>
                            <td class="invisible"></td>
                            <td class="invisible"></td>
                        </tr>
                        <tr>
                            <td class="invisible"></td>
                            <td class="invisible"></td>
                            <td colspan="2" class="soustotal">Prix Total HT(€)</td>
                            <td><%= prix.HT %></td>
                        </tr>
                        <tr>
                            <td class="invisible"></td>
                            <td class="invisible"></td>
                            <td colspan="2" class="soustotal">Prix Total TTC(€)</td>
                            <td><%= prix.TTC %></td>
                        </tr>
                    </tbody>
                </table>

                <table id="tableTVA">
                <% const alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'] %> 
                <% for(let i= 0; i < prix.listeTauxTVA.length; i++) { %>
                    <tr>
                        <td class="taux">TVA <%= alphabet[i] %> : taux à<p class="pourcent"><%= prix.listeTauxTVA[i].tauxTVA %> %</p></td>
                        <td><%= prix.listeTauxTVA[i].prixTTC %></td>
                    </tr>
                <% } %>
                </table>
            </div>

            <h2>Observations</h2>
            <div class="row ligne">
                <p class="emplacement emplacementcomm"><%= observations %></p>
            </div>

            <div class="row ligne ligne8">
                <h2>Pose du matériel</h2>
                <label>Date de pose souhaitée : <%= datePose %></label>
                <label>Date limite de pose : <%= dateLimitePose %></label>
            </div>

            <h2>Modalités de paiement de la commande</h2>
            <div class="row ligne ligne9">
                <div class="<%= infosPaiement.isAcompte ? 'selectedBox' : 'box' %>">Acompte :</div>
                <div class="<%= infosPaiement.typeAcompte === 'CHÈQUE' ? 'selectedBox' : 'box' %>">CHÈQUE</div>
                <div class="<%= infosPaiement.typeAcompte === 'ESPÈCES' ? 'selectedBox' : 'box' %>">ESPÈCES</div>
                <label>Pour un montant de </label>
                <p class="emplacement"><%= infosPaiement.isAcompte ? infosPaiement.montantAcompte : '' %></p>
                <label>euros</label>
            </div>
            <div class="row ligne ligne10">
                <div class="<%= infosPaiement.isComptant ? 'selectedBox' : 'box' %>">Paiement comptant le jour de l’installation pour un montant de</div>
                <p class="emplacement"><%= infosPaiement.isComptant ? infosPaiement.montantComptant : '' %></p>
                <label>euros</label>
            </div>
            <div class="row ligne ligne11">
                <div class="<%= infosPaiement.isCredit ? 'selectedBox' : 'box' %>">Paiement via un organisme de crédit pour un montant de</div>
                <p class="emplacement"><%= infosPaiement.isCredit ? infosPaiement.montantCredit : '' %></p>
                <label>euros</label>
                <label>Nombre de mensualités</label>
                <p class="emplacement"><%= infosPaiement.isCredit ? infosPaiement.nbMensualiteCredit : '' %></p>
            </div>
            <div class="row ligne ligne12">
                <label>Montant des mensualités</label>
                <p class="emplacement"><%= infosPaiement.isCredit ? infosPaiement.montantMensualiteCredit : '' %></p>
                <label>euros</label>

                <label>Report</label>
                <p class="emplacement"><%= infosPaiement.isCredit ? infosPaiement.nbMoisReportCredit : '' %></p>
                <label>mois</label>

                <label>Taux nominal</label>
                <p class="emplacement"><%= infosPaiement.isCredit ? infosPaiement.tauxNominalCredit : '' %></p>
                <label>%</label>
            </div>
            <div class="row ligne ligne13">
                <label>Taux effectif Global</label>
                <p class="emplacement"><%= infosPaiement.isCredit ? infosPaiement.tauxEffectifGlobalCredit : '' %></p>
                <label>%</label>

                <label>Date première échéance : <%=  infosPaiement.isCredit ? infosPaiement.datePremiereEcheanceCredit : '....../....../............' %></label>

                <label>Coût total du crédit</label>
                <p class="emplacement"><%= infosPaiement.isCredit ? infosPaiement.coutTotalCredit : '' %></p>
                <label>euros</label>
            </div>

            <div class="row ligne infos">
                <p>INFORMATION CONCERNANT L’EXERCICE DU DROIT DE RETRACTATION</p>
                <p>
                    Application du droit de rétractation pour les contrats hors établissement et pour les contrats conclus à distance
                    1º “Contrat à distance” tout contrat conclu entre un professionnel et un consommateur, dans le cadre d’un système organisé de vente ou de prestation de services à distance, sans la présence physique simultanée du professionnel et du consommateur, par le recours exclusif à une ou plusieurs techniques de communication à distance jusqu’à la conclusion du contrat ;
                    2º “Contrat hors établissement” tout contrat conclu entre un professionnel et un consommateur :
                    a) Dans un lieu qui n’est pas celui où le professionnel exerce son activité en permanence ou de manière habituelle, en la présence physique simultanée des parties, y compris à la suite d’une sollicitation ou d’une offre faite par le consommateur ;
                    b) Ou dans le lieu où le professionnel exerce son activité en permanence ou de manière habituelle ou au moyen d’une technique de communication à distance, immédiatement après que le consommateur a été sollicité personnellement et individuellement dans un lieu différent de celui où le professionnel exerce en permanence ou de manière habituelle son activité et où les parties étaient, physiquement et simultanément, présentes ;
                    c) Ou pendant une excursion organisée par le professionnel ayant pour but ou pour effet de promouvoir et de vendre des biens ou des services au consommateur ;
                    Vous avez le droit de vous rétracter du présent contrat sans donner de motif dans un délai de quatorze jours.
                    Le délai de rétractation expire quatorze jours à compter de la conclusion du contrat.
                    Pour exercer le droit de rétractation, vous devez nous notifier :
                    - votre nom, votre adresse géographique et, lorsqu’ils sont disponibles, votre numéro de téléphone, votre numéro de télécopieur et votre adresse électronique ;
                    - ainsi que votre décision de rétractation du contrat au moyen d’une déclaration dénuée d’ambiguïté (par exemple, lettre envoyée par la poste, télécopie ou courrier électronique dès lors que ces coordonnées sont disponibles et de ce fait apparaissent sur le formulaire type de rétractation).
                    Vous pouvez utiliser le modèle de formulaire de rétractation mais ce n’est pas obligatoire.
                    Elle doit être faite à la société HI-TECH HABITATS SERVICES - 115 Rue Saint-Dominique - 75007 Paris par courrier.
                    Si vous utilisez cette option, nous vous enverrons sans délai un accusé de réception de la rétractation sur un support durable (par exemple par courriel).
                    Effets de la rétractation
                    En cas de rétractation de votre part du présent contrat, nous vous rembourserons tous les paiements reçus de vous, y compris les frais de livraison (à l’exception des frais supplémentaires découlant du fait que vous avez , le cas échéant, un mode de livraison autre que le mode moins coûteux de livraison standard proposé par nous) sans retard excessif et, en tout état de cause, au plus tard quatorze jours à compter du jour où nous sommes informés de votre décision de rétractation du présent contrat.
                    Nous procéderons au remboursement en utilisant le même moyen de paiement que celui que vous aurez utilisé pour la transaction initiale, sauf si vous convenez expressément d’un moyen différent ; en tout état de cause, ce remboursement n’occasionnera pas de frais pour vous
                    Vous devrez renvoyer ou rendre le matériel qui vous aura été livré sans retard excessif et en tout état de cause au plus tard quatorze jours après que vous nous aurez communiqué votre décision de rétractation du présent contrat.
                    Ce délai est réputé respecté si vous renvoyez le bien avant l’expiration du délai de quatorze jours.
                    Toutefois pour une vente de biens, nous pouvons différer le remboursement jusqu’à récupération des biens ou jusqu’à ce que vous ayez fourni une preuve d’expédition des biens.
                    Passé ce délai, les sommes dues par nous sont automatiquement majorées selon les modalités prévues par le code de la consommation.
                    Votre responsabilité n’est engagée qu’à l’égard de la dépréciation du bien résultant de manipulation autre que celle nécessaire pour établir la nature, les caractéristiques, le bon fonctionnement du bien.
                </p>
            </div>         
            
            <div class="retractation">
                <h3>Fomulaire de rétractation</h3>
                <p>(Veuillez compléter et renvoyer le présent formulaire uniquement si vous voulez vous rétracter du contrat et que vous bénéficiez d’un droit de rétractation voir ci-dessous). À l’attention de : HI-TECH HABITATS SERVICES - 115 rue Saint-Dominique - 75007 Paris Je/Nous* vous notifie/notifions* par la présente ma/notre* rétractation du contrat de vente dont les caractéristiques sont les suivantes :</p>
                <div class="row ligne ligne18">
                    <label>Nom du/des consommateurs</label>
                    <p class="emplacement"></p>
                </div>
                <div class="row ligne ligne19">
                    <label>Adresse du/des consommateurs</label>
                    <p class="emplacement"></p>
                </div>
                <p>Date et signature du/des consommateurs</p>
                <div class="row ligne ligne20">
                    <p class="emplacement"></p>
                    <label>Envoyer le formulaire de rétractation par lettre recommandée avec accusé de réception.</label>
                </div>
            </div>
            
            <div class="versopetit">
                <p  class="versopetit1">
                    CONDITIONS GÉNÉRALES DE VENTES ET DE GARANTIES 
                    1. Champ d’application
                    Les présentes Conditions Générales de Vente s’appliquent, sans restriction ni réserve à tout achat de Matériel défini aux conditions particulières (“Les Matériels”) proposés par Hi-Tech Habitats Services (“Le Vendeur”) aux consommateurs et Clients non professionnels (“Les Clients ou le Client”).
                    Ces conditions s’appliquent à l’exclusion de toutes autres conditions, et notamment celles applicables pour d’autres circuits de commercialisation des Matériels ou sur Internet. Ces Conditions Générales de Vente sont systématiquement communiquées à tout Client préalablement à la conclusion du contrat de Vente et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.  Le Client déclare avoir pris connaissance des présentes Conditions Générales de Ventes et les avoir acceptées avant la conclusion du contrat de vente. La validation de la commande par le Client vaut acceptation sans restriction ni réserve des présentes Conditions Générales de Vente.
                    Ces Conditions Générales de Vente pouvant faire l’objet de modifications ultérieures, la version applicable à l’achat du Client est celle en vigueur au jour de la conclusion du contrat. 
                    Les coordonnées du Vendeur sont les suivantes :
                    Hi-Tech Habitats Services - 115 Rue Saint-Dominique - 75007 Paris
                    Siret : 383 985 892 000 58
                    2. Contrat de vente
                    Le Contrat de Vente se compose du Bon de Commande (recto),des présentes Conditions Générales (verso) qui ont pour objet de définir les conditions applicables au Contrat de Vente, des conditions générales de garanties et les différents formulaires remis au Client.
                    3. Caractère définitif de la commande - faculté de résiliation ou résolution de la commande
                    3.1 Caractère définitif 
                    La commande est définitive à l’égard du Client à la signature du bon de commande sous réserve des cas de résiliation, de résolution et de rétraction mentionnés ci-dessous Toute commande sera soumise à l’acceptation de la Direction qui, en cas de refus, signifiera ledit refus sous quinze(15) jours ouvrables ou à l’issue de la visite technique dans le cas de la non-validation de la faisabilité technique de l’installation. L’acceptation pourra également résulter de l’expédition des produits commandés
                    3.2 Résolution de la commande
                    La commande est résolue de plein droit en cas de refus définitif d’une autorisation quelconque pour l’implantation du Matériel ou d’une impossibilité technique mentionnée au Client dans le délai de quarante-cinq  jours de la signature du bon de commande.
                    3.3 Facultés de rétraction 
                    La commande est définitive sous réserve des éventuels délais de rétraction en cas de souscription d’une offre de financement et/ ou de démarchage à domicile.
                    3.4 Résolution de plein droit
                    La vente sera résolue de plein droit :
                    - si le vendeur n’a pas été informé par le prêteur dans le délai de sept jours suivant l’acceptation de l’offre de crédit parle Client de l’attribution du crédit ;
                    -si le Client exerce son droit de rétractation et dénonce dans le délai légal le contrat de prêt finançant la vente
                    4 Caractéristiques des Matériels
                    4.1 Informations sur les Matériels
                    Le client peut, préalablement à sa commande, prendre connaissance des caractéristiques essentielles des produits qu’il désire commander en consultant les informations précontractuelles qui lui ont été communiquées par le vendeur avant toute commande.
                    4.2. Modifications des Matériels à l’initiative du Client
                    Toute modification de commande demandée par le Client ne pourra être prise en considération que si elle est parvenue par écrit au vendeur dans un délai de quatorze (14) jours à compter de l’acceptation de la commande. Cette modification est soumise à l’acceptation de la société Hi-Tech Habitats Services ou l’un de ses représentants qui peut la refuser. L’acceptation par de la société Hi-Tech Habitats Services ou l’un de ses représentants de ladite modification émanant du Client entraîne de plein Droit l’annulation des Conditions préalablement acceptées par le Vendeur en   ce qui concerne les prix, conditions de paiement, délais et modes de livraison qui sont remplacées par les nouvelles modalités définies entre le Client et le Vendeur.
                    4.3 Modifications des Matériels à l’initiative du Vendeur
                    1° Afin de faire bénéficier le Client de ses meilleures prestations, en cas d’évolution technologique du matériel favorable au Client, Hi-Tech Habitats Services se réserve le droit de modifier, avec l’accord du Client, tout ou partie de la commande sans en altérer la substance, même après acceptation de cette dernière sous réserve que les caractéristiques soient au moins de qualité égale ou supérieure. 
                    2° La société Hi-Tech Habitats Services se réserve également le droit de procéder à des modifications afin de rendre l’installation techniquement viable. Ces modifications devront être portées à la connaissance du Client dans les sept (7) jours ouvrables qui suivent la visite technique. Le Client aura la possibilité de refuser ces modifications  et d’annuler la commande par lettre recommandée ; l’absence d’annulation valant tacite acceptation des éventuelles modifications. La signature du procès-verbal de réception vaut acceptation du Matériel par le Client 
                    4.4 Marque et origine du Matériel
                    La marque et l’origine du Matériel sont librement choisies par Hi-Tech Habitats Services sous réserve qu’elles soient de qualité équivalente à ce qui a été proposé au Client lors de la signature du bon de commande.
                    5 - Livraison et installation
                    5-1 Modalités. La livraison est effectuée par la remise directe du Matériel au Client. Le Client signe contre la remise du Matériel un bordereau de livraison ce qui permet le cas échéant le déblocage partiel du financement au profit du Vendeur.
                    5-2 Délais. Les livraisons ne sont opérées qu’en fonction des disponibilités et dans l’ordre d’arrivée des Commandes. Hi-Tech Habitats Services est autorisé à procéder à des livraisons de façon globale ou partielle. Les délais limites de livraison et d’installation sont mentionnés sur le Bon de Commande. Si l’installation intervient plus de 7 jours après la date limite d’installation  mentionnée sur le Bon de Commande, le Client pourra dénoncer le Contrat de Vente par Lettre Recommandée avec Accusé de Réception. Cette dénonciation devra être notifiée à Hi-Tech Habitats Services dans les 60 jours suivant la date limite d’installation  mentionnée sur le Bon de Commande. La dénonciation ne sera pas valable si l’installation est intervenue avant la réception par Hi-Tech Habitats Services de la lettre recommandée. En toutes hypothèses, cette dénonciation du Contrat de Vente ne pourra être effectuée si : - Le retard dans l’installation est dû à un cas de force majeure ou cas fortuit* ;
                    - Le Client n’est pas à jour de l’une quelconque de ses obligations envers Hi-Tech Habitats Services
                    * Sont notamment assimilés à des cas de Force Majeure ou de Cas Fortuit déchargeant le Vendeur de son obligation de livrer dans les délais initialement prévus les grèves de la totalité ou d’une partie du personnel de la Société ou de ses transporteurs habituels, l’incendie, l’inondation, la guerre, les arrêts de production dus à des pannes fortuites, l’impossibilité d’être approvisionné, les épidémies, les barrières de dégel, les barrages routiers, les grèves ou ruptures d’approvisionnement EDF-GDF, la rupture d’approvisionnement pour une cause non imputable à la Société partie  au Contrat, ainsi que toute autre cause d’approvisionnement imputable au(x) fournisseur(s) de la société Hi-Tech Habitats Services.
                    5-3 Transfert des risques. 
                    Le Matériel est livrable franco de port ou contre remboursement au lieu convenu.
                    En cas d’avarie ou de manquant, il appartiendra au Client de faire toutes constatations nécessaires et de confirmer ses réserves par acte extrajudiciaire ou par Lettre Recommandée avec Accusé de Réception auprès du transporteur dans les trois jours qui suivent la réception de la marchandise.
                    Sans préjudice des dispositions à prendre vis-à-vis du transporteur ou auprès de l’employé du Vendeur si la livraison est effectuée par ses soins, les réclamations sur les vices apparents ou sur la non-conformité du Matériel livré par rapport à celle commandés ou au bordereau d’expédition, doivent être formulées par écrit dans les trois jours de la livraison du Matériel. Il appartient au Client de fournir toute justification quant à la réalité des vices ou anomalies constatés. Il devra laisser à Hi-Tech Habitats Services toute facilité pour procéder à la constatation de ces vices et pour y apporter remède. Le Client s’abstiendra d’utiliser le Matériel et le produit, le temps nécessaire à Hi-Tech Habitats Services de porter remède au vice constaté. Si le vice est constaté, le Matériel sera alors remplacé, les frais de livraison du Matériel échangé étant alors à la charge du Vendeur.
                    5-4 Installations des Matériels
                    L’installation et la mise en service des Matériels sont assurées exclusivement par la société Hi-Tech Habitats Services ou par toute personne ou société dûment mandatée par ce dernier. 
                    6 - Refus de prendre  livraison. Si le Client refuse, de façon injustifiée, de prendre livraison du Matériel commandé, Hi-Tech Habitats Services pourra : 
                    -soit demander l’exécution du Contrat
                    -soit après mise en demeure de prendre livraison restée infructueuse pendant deux semaines, prononcer la résiliation de plein droit du contrat et exiger l’application de la clause pénale prévue à l’article 14.3 ci-dessous. L’éventuel acompte versé lors de la commande viendra s’imputer sur l’indemnité visée ci-dessus.
                    7 - Retour du Matériel par le Client
                    7.1 Retour accepté par Hi-Tech Habitats Services
                    Tout retour de Matériel acceptée par Hi-Tech Habitats Services entraînera l’émission d’un avoir au profit du Client après vérification qualitative et quantitative du Matériel retourné. Les frais de transport demeurent à la charge du Client.
                    7.2 Retour non accepté par Hi-Tech Habitats Services.
                    Tout retour de Matériel non accepté par Hi-Tech Habitats Services lui sera inopposable. Hi-Tech Habitats Services pourra 
                    -soit demander l’exécution du Contrat
                    -soit exiger l’application de la clause pénale prévue à l’article 14.3 ci dessous. 
                    L’éventuel acompte versé lors de la commande viendra s’imputer sur l’indemnité visée ci-dessus.
                    Le Client demeure tenu des risques du Matériel.
                    8 - Vices apparents et non-conformité. 
                    Les réclamations sur les vices apparents affectant le Matériel ou la non-conformité du Matériel  livré par rapport à celui commandé, doivent être formulées par écrit dans les deux années suivant la délivrance de celui-ci.  Il appartiendra au Client de fournir toute justification quant à la réalité des vices ou anomalies constatés, étant précisé que le Client devra laisser librement Hi-Tech Habitats Services procéder à la constatation de ces vices apparents ou défauts de conformité et y porter remède. Le Client s’abstiendra d’utiliser le Matériel le temps nécessaire à Hi-Tech Habitats Services de porter remède au vice ou défaut de conformité constaté. Si le vice ou défaut de conformité est constaté, le Matériel sera alors remplacé ou réparé, les frais de livraison afférant à la réparation ou à l’échange étant alors à la charge du Vendeur. 
                    9 - Garanties et assurance
                    9-1 - Garantie légale. 
                    Tous les produits fournis par le vendeur bénéficient de la garantie légale de conformité prévue aux articles L. 217-4 et suivants du code de la consommation ou de la garantie des vices cachés prévue aux articles 1641 à 1649 du code civil.
                    Pour rappel, cette Garantie prévue aux articles 1641 et suivants du Code Civil est due par Hi-Tech Habitats Services sous réserve que les quatre conditions cumulatives suivantes soient remplies :- que le défaut du Matériel soit caché ;- qu’il soit antérieur à la conclusion du Contrat de Vente ;- qu’il soit important à tel point que le Client ne l’aurait pas acheté ou en aurait offert un prix moindre ;- que l’action soit intentée dans un délai de deux ans à compter de la découverte du défaut. Tout Matériel  nécessitant une installation spécifique, doit être posé dans les règles de l’art par un professionnel qualifié. Aucun recours en Garantie ne peut être assuré dans le cas contraire.
                    Article L. 217-4 du Code de la Consommation : “Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité”.
                    Article L. 217-5 du Code de la Consommation : “Le bien est conforme au contrat 
                    1° S’il est propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant : - s’il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle ; - s’il présente les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ; 2° Ou s’il présente les caractéristiques définies d’un commun accord par les parties ou est propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté”.
                    Article L. 217-5 du Code de la Consommation : “Les défauts de conformité qui apparaissent dans un délai de vingt-quatre mois à partir de la délivrance du bien sont présumés exister au moment de la délivrance, sauf preuve contraire. Pour les biens vendus d’occasion, ce délai est fixé à six mois. Le vendeur peut combattre cette présomption si celle-ci n’est pas compatible avec la nature du bien ou le défaut de conformité invoqué”.
                    Article L. 217-12 du Code de la Consommation : “L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien”.
                    Article 1641 du Code Civil : “Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus”.
                    Article 1648 du Code Civil : L’action résultant des vices rédhibitoires doit être intentée par le Client dans un délai de deux ans à compter de la découverte du vice. 
                    Lorsqu’il agit en garantie légale de conformité, le consommateur : - bénéficie d’un délai de deux ans à compter de la délivrance du bien pour agir ;- peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l’article L. 217-9 du code de la consommation ;- est dispensé de rapporter la preuve de l’existence du défaut de conformité du bien durant les vingt-quatre mois suivant la délivrance du bien. 
                    9-2 - Garantie Fabricant
                    Les produits sont vendus sous la seule garantie du fabricant et sont assortis d’un bon de garantie remis à l’acheteur par le vendeur.
                    9.3 - Assurances
                    Hi-Tech Habitats Services est régulièrement assurée auprès d’une compagnie d’assurances notoirement solvables pour la responsabilité professionnelle au titre de son activité.
                    L’assurance décennale est garantie par la société en charge de l’installation du Matériel, conformément aux dispositions des articles 1792 et suivants du Code civil.
                    10 - Prix et mode de paiement
                    Les prix sont ceux du tarif en vigueur le jour de la signature du Bon de Commande par le Client. Sauf accord particulier, la fourniture du Matériel ne comprend pas les travaux de raccordement électriques. Tous les travaux préparatoires de mise en place et d’aménagement du lieu d’installation du Matériel sont à la charge du Client. 
                    Le prix est exclusif de toute prestation fournie par un prestataire tiers tel que : organisme certificateur, bilan d’étude énergétique, coûts divers auprès du fournisseur électrique. 
                    11 - Financement 
                    Si le Client entend obtenir un financement auprès de l’organisme choisi par lui, il s’engage à effectuer les démarches nécessaires dans les 15 jours de la signature des présentes et à obtenir le prêt dans le délai de 45 jours de la signature des présentes. Passé ce délai Hi-Tech Habitats Services pourra proposer au Client une offre préalable de crédit lequel s’engage à remettre l’ensemble des pièces et informations nécessaires en vue de la souscription de l’offre de crédit présentée par Hi-Tech Habitats Services. Si le Client n’effectue pas les démarches mise à sa charge pour l’obtention d’un prêt ou si le Client refuse de signer l’offre préalable de crédit qui lui est présentée Hi-Tech Habitats Services pourra se prévaloir des dispositions de l’article 1304-3 du code civil. 
                    12 - Conditions de paiement. 
                </p>       
            </div>       

            <p class="completez">Veuillez compléter et renvoyer le formulaire au verso uniquement si vous souhaitez vous rétracter du contrat.</p>
            
            <div class="retractation2">                
                <p class="envoyez">Envoyer le formulaire de rétractation par lettre recommandée avec accusé de réception</p>
                <div class="retractationadresse">
                    <p>HI-TECH HABITATS SERVICES - SAS au capital de 100 000 euros</p>
                    <p>RCS Paris 383 985 892 00058 - Code NAF 4322B - TVA FR 44 383 985 892</p>
                    <p>115 rue Saint-Dominique 75007 PARIS - Tél : 01 47 99 49 97 - contact@h-habitatsservices.com</p>
                    <p>www.hitech-habitats-services.com</p>                    
                </div>
            </div>            

            <div class="versopetit">
                <p class="versopetit2">
                    Aucun paiement ne doit être effectué avant l’expiration du délai de 7 jours à compter de la conclusion de la commande. Les conditions de paiement sont précisées au recto du bon de commande dans la rubrique “Mode de règlement” Le Client s’engage à respecter les dates d’échéances mentionnées au recto du bon de commande. Si le Client a souscrit un financement, celui-ci s’engage à signer l’autorisation de déblocage des fonds lors de l’installation du Matériel.
                    13 - Intérêts de retard
                    Toute somme non payée selon les échéances mentionnées au recto entraîne l’application de pénalités de retard égales au taux d’intérêt légal. La fourniture incomplète d’une commande ne peut justifier le refus de paiement du Matériel livré. Tout litige opposant le Client au Vendeur n’est en aucun cas suspensif du règlement de la partie non contestée de la facture.
                    14. Clause pénale
                    14.1 Cas d’application de la clause pénale
                    La clause pénale s’applique notamment dans les cas suivants : -annulation injustifiée du dossier par le Client, refus de prendre possession du Matériel, refus de laisser installer le Matériel sans raisons valable- refus de paiement ou paiement partiel- refus d’exécuter le contrat sans raison valable.
                    14.2 Modalités d’application de la clause- refus d’exécuter les obligations contractuelles- refus de prendre possession du Matériel.
                    Si le Client refuse d’exécuter l’une quelconque de ses obligations contractuelles(exemple : refus de prendre possession du Matériel, refus de laisser installer le Matériel après livraison, refus de communiquer des informations permettant la poursuite du contrat…) sans raisons valable, le Client sera redevable au titre des frais divers engagés par Hi-Tech Habitats Services (frais d’instruction du dossier administratif, de la visite technique, des démarches commerciales,des différentes démarches par le Bureau d’Etude, de stockage, de livraison, d’installation, de retour…) d’une indemnité égale à 30 % du montant de la commande. Hi-Tech Habitats Services pourra imputer sur la clause pénale les acomptes versés à due concurrence de la clause pénale et restituer le surplus éventuel au Client.
                    14.3 Modalités d’application de la clause - refus de paiement
                    Si le Client refuse de payer les acomptes prévus au bon de commande, Hi-Tech Habitats Services ne sera pas tenu de poursuivre les démarches administratives et pourra si bon lui semble solliciter une clause pénale de 30 % du montant de la commande. Hi-Tech Habitats Services pourra imputer sur la clause pénale les éventuels acomptes versés à due concurrence de la clause pénale et restituer le surplus éventuel au Client. Si le Client refuse de payer la facture après livraison et installation du Matériel, il lui sera appliqué outre les intérêts de retard, une clause pénale égale à 15% des sommes restant à recouvrer.
                    15. Obligations du Client
                    15.1 Assurance - déclaration
                    Le Client s’engage à déclarer, si besoin est, auprès de sa compagnie d’assurance le Matériel objet du bon de commande avant l’installation et à en  remettre systématiquement le justificatif à Hi-Tech Habitats Services. L’assurance devra couvrir le vol et le vandalisme dès la livraison du Matériel.
                    15-2 - Installation électrique. Préparations 
                    Le Client s’engage à effectuer les démarches nécessaires en vue d’assurer la fourniture électrique pour le fonctionnement du Matériel (changement de compteur, modification de l’installation électrique…) préalablement à l’installation du Matériel, lorsque cela est nécessaire.
                    15.3 Travaux d’aménagement
                    Le Client s’engage à effectuer tous les travaux d’aménagement nécessaire à l’installation du Matériel avant la date de livraison. 
                    15.4 Stockage du Matériel
                    Le Client s’engage, en cas de livraison antérieure à l’installation à stocker les panneaux photovoltaïques dans des conditions permettant la conservation du Matériel en parfait état de fonctionnement.
                    15.5 Démarches préalables en vue d’obtenir des aides
                    Le Client s’engage à effectuer l’ensemble des démarches préalables nécessaires en vue de l’obtention d’aides locales ou régionales telles qu’ANAH, etc. Hi-Tech Habitats Services n’est tenu d’aucune obligation à cet égard. 
                    15.6 Accès au Locaux
                    Pour l’exécution des travaux, le Client s’engage à laisser accès aux locaux tant à l’intérieur qu’à l’extérieur, à fournir l’eau et l’électricité pour l’exécution des travaux, à se charger d’obtenir l’autorisation d’accès chez les voisins si besoin est. Le Client s’engage à fournir tout renseignement et toute justification sur le passage des canalisations d’eau, de gaz et d’électricité susceptibles de se trouver aux endroits de perçage des murs et/ou du carottage du terrain. Si le Client n’est pas propriétaire de l’immeuble sur lequel doit être installé le matériel ou s’il n’en est que copropriétaire, il doit obtenir l’accord écrit du  ou des propriétaire(s) ou, s’il y a lieu, des copropriétaires de cet immeuble, préalablement à l’installation du Matériel.
                    15.7 Autorisation d’urbanisme
                    En application des dispositions du Code de l’Urbanisme, l’installation des Matériels commandés peut entraîner l’obligation pour le Client de déposer une déclaration préalable à la mairie de la commune où se situe le bien immobilier faisant l’objet des aménagements prévus. Par conséquent et si besoin est, le présent Contrat est conclu sous condition suspensive d’une décision de non opposition aux aménagements du bien immobilier.
                    Dans le cas d’une construction existante, l’exécution des formalités nécessaires à l’obtention d’une décision de non opposition à la déclaration préalable pourra être effectuée par Hi-Tech Habitats Services pour le compte du Client, sous réserve de la communication par ce dernier des pièces nécessaires à la constitution dudit dossier. La décision de non opposition sera considérée comme obtenue si, dans un délai de un (1) mois à compter du dépôt    de la déclaration préalable attesté par récépissé, l’Administration n’a pas notifié au Client ou à Hi-Tech Habitats Services qu’un autre délai d’instruction est applicable. Le destinataire de la notification de l’Administration s’engage à informer l’autre partie au Contrat dans les meilleurs délais et la décision de non opposition sera considérée comme obtenue à l’issue de ce ou des nouveaux délais d’instruction fixés par l’Administration. Le Client accepte dès à présent tout nouveau délai d’instruction imposé par l’Administration et ne pourra donc solliciter la caducité du présent Contrat à ce titre.
                    Dans le cas d’une construction neuve, le Client s’oblige à déposer une demande de permis de construire au plus tard dans les deux mois de la signature du présent contrat et à en justifier à première demande par tout moyen de preuve écrite. La condition suspensive sera réputée réalisée dès l’obtention d’un permis de construire définitif, purgé de tout recours, incluant l’installation des produits commandés par le Client.
                    Conformément à l’article 1178 du Code Civil, dans le cas où le Client se serait abstenu ou aurait été négligent dans l’accomplissement des diligences qui lui incombaient en vue de faciliter et de permettre la réalisation de la condition suspensive, il sera redevable envers Hi-Tech Habitats Services à titre de clause pénale d’une somme égale à cinquante (50) pour cent de toutes les charges comprises, de la commande, nonobstant le droit à tout dommages et intérêts. En cas de non réalisation de la condition suspensive, pour quelle cause que ce soit, le versement par le Client d’un acompte sera conservé par Hi-Tech Habitats Services à titre de clause pénale.
                    16 - documentation
                    Les croquis, clichés et toutes documentations quant aux mesures, poids, plans et dessins etc. fournis gratuitement au Client pour lui faciliter les travaux de toutes sortes ne sont donnés qu’à titre indicatif et, n’engagent pas la responsabilité du Vendeur. En outre, les documents de toute nature établis par Hi-Tech Habitats Services restent sa propriété et doivent lui être rendus sur simple demande de sa part. 
                    17 - Réserve de propriété
                    Le transfert de propriété de la chose vendue est subordonné au paiement de la totalité du prix par le Client, dans les délais prévus aux articles 12 et 13 ci-dessus. Le transfert des risques de la propriété pèse sur le Client même en cas de non paiement (total ou partiel) par le Client du Matériel En outre le Client devra, jusqu’à complet règlement du Matériel :
                    -tenir en bon état le Matériel  et ne pourra ni vendre, ni le donner ou le mettre en gage.
                    -conserver le Matériel dans les conditions de stockage recommandées.  
                    18. Imprévision
                    Les présentes Conditions Générales de Vente excluent expressément le régime légal de l’imprévision prévu à l’article 1195 du Code civil pour toutes les opérations de Fourniture de Biens et de Services du Vendeur au Client. La société Hi-Tech Habitats Services et le Client renoncent donc chacun à se prévaloir des dispositions de l’article 1195 du Code civil et du régime de l’imprévision qui y est prévu, s’engageant à assumer ses obligations même si l’équilibre contractuel se trouve bouleversé par des circonstances qui étaient imprévisibles lors de la conclusion de la vente, quand bien même leur exécution s’avèrerait excessivement onéreuse et à en supporter toutes les conséquences économiques et financières.
                    19 - Exécution forcée en nature
                    En cas de manquement de l’une ou l’autre des Parties à ses obligations, la Partie victime de la défaillance dispose du droit de requérir l’exécution forcée en nature des obligations découlant des présentes. Conformément aux dispositions de l’article 1221 du Code civil, le créancier de l’obligation pourra poursuivre cette exécution forcée après une simple mise en demeure, adressée au débiteur de l’obligation par lettre recommandée avec accusé de réception demeurée infructueuse, sauf si celle-ci s’avère impossible ou s’il existe une disproportion manifeste entre son coût pour le débiteur et son intérêt pour le créancier La Partie victime de la défaillance pourra, en cas d’inexécution de l’une quelconque des obligations incombant à l’autre Partie, demander la résolution du contrat selon les modalités définies à l’article 21 “Résolution du contrat”.
                    20 - Exception d’inexécution
                    Il est rappelé qu’en application de l’article 1219 du Code civil, chaque Partie pourra refuser d’exécuter son obligation, alors même que celle-ci est exigible, si l’autre Partie n’exécute pas la sienne et si cette inexécution est suffisamment grave, c’est-à-dire, susceptible de remettre en cause la poursuite du contrat ou de bouleverser fondamentalement son équilibre économique. La suspension d’exécution prendra effet immédiatement, à réception par la Partie défaillante de la notification de manquement qui lui aura été adressée à cet effet par la Partie victime de la défaillance indiquant l’intention de faire application de l’exception d’inexécution tant que la Partie défaillante n’aura pas remédié au manquement constaté, signifiée par lettre recommandée avec demande d’avis de réception ou sur tout autre support durable écrit permettant de ménager une preuve de l’envoi. Cette exception d’inexécution pourra également être utilisée à titre préventif, conformément aux dispositions de l’article 1220 du Code civil, s’il est manifeste que l’une des Parties n’exécutera pas à l’échéance les obligations qui lui incombent et que les conséquences de cette inexécution sont suffisamment graves pour la Partie victime de la défaillance. Cette faculté est utilisée aux risques et périls de la Partie qui en prend l’initiative. Si l’empêchement était définitif ou perdurait au-delà de 2 (DEUX) mois, les présentes seraient purement et simplement résolues selon les modalités définies à l’article Résolution pour manquement d’une partie à ses obligations.
                    21 - Résolution du contrat
                    La commande est résolue de plein droit en cas de refus définitif d’une autorisation quelconque pour l’implantation du Matériel ou d’une impossibilité technique mentionnée au client dans le délai de quarante-cinq (QUARANTE-CINQ) jours de la signature du bon de commande.
                    21.1 - Résolution pour inexécution d’une obligation suffisamment grave
                    La Partie victime de la défaillance pourra, nonobstant la clause Résolution pour manquement d’une partie à ses obligations figurant ci-après, en cas d’inexécution suffisamment grave de l’une quelconque des obligations incombant à l’autre Partie, notifier par lettre recommandée avec demande d’avis de réception à la Partie Défaillante, la résolution fautive des présentes, 15 (QUINZE) jours après la réception d’une mise en demeure de s’exécuter restée infructueuse, et ce en application des dispositions de l’article 1224 du Code civil. 
                    21.2 - Résolution pour force majeure
                    La résolution de plein droit pour force majeure, ne pourra, nonobstant la clause Résolution pour manquement d’une partie à ses obligations figurant ci-après, avoir lieu 15 (QUINZE) jours après la réception d’une mise en demeure notifiée par lettre recommandée avec demande d’avis de réception ou tout acte extrajudiciaire.
                    21.3 - Résolution pour manquement d’une partie à ses obligations
                    En vertu de l’article 1225 du Code civil, la présente clause résolutoire précise les engagements dont l’inexécution entraînera la résolution du contrat au gré de la partie lésée :
                    - non-paiement à l’échéance des Biens et services commandés par le Client, 
                    - non réalisation des travaux d’aménagement et démarches nécessaires en vue d’assurer la fourniture électrique pour le fonctionnement du Matériel
                    Les prestations échangées entre les Parties depuis la conclusion du contrat et jusqu’à sa résiliation ayant trouvé leur utilité au fur et à mesure de l’exécution réciproque de celui-ci, elles ne donneront pas lieu à restitution pour la période antérieure à la dernière prestation n’ayant pas reçu sa contrepartie. 
                    En tout état de cause, la Partie lésée pourra demander en justice l’octroi de dommages et intérêts et le cas échéant l’application de la clause pénale.
                    Article 22 - Information précontractuelle - Acceptation du Client
                    Le Client reconnaît avoir eu communication, préalablement à l’achat immédiat ou à la passation de sa commande et à la conclusion du contrat, d’une manière claire et compréhensible, des présentes Conditions Générales de Vente et de toutes les informations listées à l’article L.221-5 du Code de la consommation et notamment les informations suivantes : 
                    - les caractéristiques essentielles du Service; 
                    - le prix des Biens et des Services et des frais annexes ;
                    - en l’absence d’exécution immédiate du contrat, la date ou le délai auquel la société Hi-Tech Habitats Services s’engage à fournir les Biens et  Services commandés ; 
                    - les informations relatives à l’identité du Vendeur, à ses coordonnées postales, téléphoniques et électroniques, et à ses activités, si elles ne ressortent pas du contexte ; 
                    - les informations relatives aux garanties légales et contractuelles et à leurs modalités de mise en œuvre ; 
                    - les fonctionnalités du contenu numérique et, le cas échéant, à son interopérabilité ; 
                    - la possibilité de recourir à une médiation conventionnelle en cas de litige.
                    23 - Droit de rétractation
                    Le Client dispose d’un délai de quatorze jours pour exercer son droit de rétractation d’un contrat conclu à distance, à la suite d’un démarchage téléphonique ou hors établissement, sans avoir à motiver sa décision ni à supporter d’autres coûts que ceux prévus aux articles L. 221-23 à L. 221-25.
                    Ce délai de quatorze jours court à compter du jour :
                    “1° De la conclusion du contrat, pour les contrats de prestation de services et ceux mentionnés à l’article L. 221-4 ; 2° De la réception du bien par le consommateur ou un tiers, autre que le transporteur, désigné par lui, pour les contrats de vente de biens. Pour les contrats conclus hors établissement, le consommateur peut exercer son droit de rétractation à compter de la conclusion du contrat. Dans le cas d’une commande portant sur plusieurs biens livrés séparément ou dans le cas d’une commande d’un bien composé de lots ou de pièces multiples dont la livraison est échelonnée sur une période définie, le délai court à compter de la réception du dernier bien ou lot ou de la dernière pièce. Pour les contrats prévoyant la livraison régulière de biens pendant une période définie, le délai court à compter de la réception du premier bien”.
                    En cas de rétractation, le Client doit renvoyer par lettre recommandée avec accusé de réception le formulaire de rétractation joint aux présentes et ce dans un délai de 14 jours à compter de l’acceptation de la commande par la société Hi-Tech Habitats Services. Le Client a la possibilité de remplacer le bordereau de rétractation par une déclaration exprimant sans ambigüité sa volonté de se rétracter envoyée par lettre recommandée avec accusé de réception, au Vendeur. La charge de la preuve de l’exercice du droit de rétractation dans les conditions prévues à l’article L. 221-21 pèse sur le Client. 
                    Si le Client souhaite que l’exécution d’une prestation de services ou d’un contrat mentionné au premier alinéa de l’article L. 221-4 commence avant la fin du délai de rétractation mentionné à l’article L. 221-18, le Vendeur recueille sa demande expresse par tout moyen pour les contrats conclus à distance et sur papier ou sur support durable pour les contrats conclus hors établissement. Le Client qui a exercé son droit de rétractation d’un contrat de prestation de services ou d’un contrat mentionné au premier alinéa de l’article L. 221-4 dont l’exécution a commencé, à sa demande expresse, avant la fin du délai de rétractation verse au Vendeur un montant correspondant au service fourni jusqu’à la communication de sa décision de se rétracter ; ce montant est proportionné au prix total de la prestation convenu dans le contrat. Si le prix total est excessif, le montant approprié est calculé sur la base de la valeur marchande de ce qui a été fourni. Aucune somme n’est due par le Client ayant exercé son droit de rétractation si sa demande expresse n’a pas été recueillie en application du premier alinéa ou si le Vendeur n’a pas respecté l’obligation d’information prévue au 4° de l’article L. 221-5 Le Client renvoie ou restitue les biens au Vendeur ou à une personne désignée par ce dernier, sans retard excessif et, au plus tard, dans les quatorze jours suivant la communication de sa décision de se rétracter conformément à l’article L. 221-21, à moins que le Vendeur ne propose de récupérer lui-même ces biens. Le Client ne supporte que les coûts directs de renvoi des biens. Pour les contrats conclus hors établissement, lorsque les biens sont livrés au domicile du consommateur au moment de la conclusion du contrat, le Vendeur récupère les biens à ses frais s’ils ne peuvent pas être renvoyés normalement par voie postale en raison de leur nature. La responsabilité du Client ne peut être engagée qu’en cas de dépréciation des biens résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ces biens, sous réserve que le Vendeur ait informé le Client de son droit de rétractation, conformément au 2° de l’article L. 221-5. Lorsque le droit de rétractation est exercé, le Vendeur rembourse le Client de la totalité des sommes versées, y compris les frais de livraison, sans retard injustifié et au plus tard dans les quatorze jours à compter de la date à laquelle il est informé de la décision du consommateur de se rétracter. Le Vendeur effectue ce remboursement en utilisant le même moyen de paiement que celui utilisé par le Client pour la transaction initiale, sauf accord exprès du Client pour l’utilisation d’un autre moyen de paiement et dans la mesure où le remboursement n’occasionne pas de frais pour le Client. Le Vendeur n’est pas tenu de rembourser les frais supplémentaires si le Client a expressément choisi un mode de livraison plus coûteux que le mode de livraison standard proposé par le professionnel.
                    24 - Informations nominatives
                    Les informations figurant sur ce document font l’objet d’un traitement informatisé permettant de conserver, afin de mieux servir le Client, les données relatives à ses achats et aux interventions de Service Après-Vente. Conformément aux articles 35 et 36 de la loi du 6 janvier 1978 le Client peut obtenir communication des informations le concernant et si nécessaire demander qu’elles soient complétées ou rectifiées. Si le Client ne souhaite pas que l’historique de ses achats et ou des interventions de Service Après-Vente soient conservées ou que ces informations soient communiquées à d’autres sociétés du groupe auquel appartient le Vendeur il peut le signaler par écrit à l’adresse suivante : Hi-Tech Habitats Services service client 115 rue Saint Dominique 75007 Paris. La notion de groupe recouvre toutes les sociétés ayant un lien en capital direct ou indirect avec le Vendeur ainsi que toute société ayant un dirigeant commun avec le dirigeant du Vendeur
                    25 - Litiges
                    En cas de litige, le Client doit adresser en priorité au service client de Hi tech Habitats Services au (numéro non surtaxé à partir d’une ligne fixe en France métropolitaine), du lundi au vendredi sauf jour férié ou chômé, de 9h00 à 12h00 et de 14h00 à 16h00 ou par courrier à Hi-Tech Habitats Services litiges consommateurs 115 rue Saint-Dominique 75007 Paris.
                    En l’absence de solution dans les 21 jours qui suivent la demande du Client demande, le Client  saisir la Commission Paritaire de Médiation de la Vente Directe : 100, avenue du Président Kennedy 75016 Paris - tél. : 01 42 15 30 00 - email : info@fvd.fr, qui recherchera gratuitement un règlement à l’amiable.
                    Le Client est informé que les professionnels du secteur de la vente hors établissement commercial ont élaboré des règles déontologiques sous la forme d’un Code éthique envers le consommateur, et d’un Code de conduite des entreprises de Vente Directe. Le client peut prendre connaissance de ces Codes sur le site internet de la Fédération de la Vente Directe (www.fvd.fr). La FVD a en outre élaboré, sur les questions spécifiques posées par la loi relative à la consommation, des règles de bonne pratique issues des travaux de son Comité déontologique.
                    Tous les litiges auxquels les opérations de Fourniture de Services conclues en application des présentes conditions générales de vente pourraient donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur résolution; leurs conséquences et leurs suites et qui n’auraient pas pu être résolus à l’amiable entre le Vendeur et le Client, seront soumis aux tribunaux compétents dans les conditions de droit commun. 
                </p>
            </div>                       
        </div>         
    </body>
</html>
