 <link rel="stylesheet" href="/public/assets/css/leads/campagnes.css">
<script type="text/javascript" src="/public/assets/js/campagnes.js"></script>

 <%- include('../partials/topbar/topbar.ejs') %>


 <div class="row titre_rechercher_lead">
     <div class="col-md-6">
         <h2>Créer une nouvelle campagne</h2>
     </div>
 </div>

 <div class="container-fluid">
     <form>
         <div class="creer_campagne_ctn">
             <div class="cree_campagne_item">
                 <label for="nomcampagne">Nom :</label>
                 <input type="text" name="nomcampagne" id="nomcampagne" />
             </div>
            <div>
                <p>Conditions Sources/Types : </p>
                <div class="sources_types">

                </div>
                <i class="fas fa-plus btn_item2 hover_btn3 add_condition"></i>
            </div>

            <div>
                <p>DEP(s) : </p>
                <div class="deps">
                </div>
                <i class="fas fa-plus btn_item2 hover_btn3 add_dep"></i>
            </div>

             <div>
                <p>Statut(s) : </p>
                <div class="statuts">
                </div>
                <i class="fas fa-plus btn_item2 hover_btn3 add_statut"></i>
            </div>

             <div class="cree_campagne_item">
                 <label for="prixcampagne">Prix campagne :</label>
                 <input type="text" name="prixcampagne" id="prixcampagne" />

                 <input type="checkbox" name="pasdeprixcampagne" id="pasdeprixcampagne" />
                 <label for="pasdeprixcampagne">Pas de prix</label>

             </div>

             <button type="submit" class="validcampagne">
             <i class="fas fa-check btn_item hover_btn3"></i>
             </button>

         </div>
     </form>
 </div>


 <div class="ctn_table">

     <table>
         <thead>
             <th class="tableau_datecrea">Date création</th>
             <th class="tableau_campagnenom">Nom campagne</th>
             <th class="tableau_campagnesource">Sources Types</th>
             <th class="tableau_campagnedep">DEP</th>
             <th class="tableau_statutcampagne">Statut(s)</th>
             <th class="tableau_prixcampagne">Prix</th>
             <th class="tableau_action">Action</th>
         </thead>
         <tbody>
             <% findedCampagnes.forEach((campagne) => { %>
                <tr class="historique_ligne" id="campagne_<%= campagne.id %>">
                    <td><%= campagne.createdAt %></td>
                    <td><%= campagne.nom %></td>
                    <td><%= campagne.sources_types %></td>
                    <td><%= campagne.deps %></td>
                    <td><%= campagne.statuts %></td>
                    <td><%= campagne.prix  %></td>
                    <td><% if(campagne.etat_campagne == 0){ %><button class="active">Activer</button><% } %><% if(campagne.etat_campagne == 1){ %><button class="desactive">Desactiver</button><% } %><% if(campagne.etat_campagne == 0){ %><button class="supprimer">Supprimer</button><% } %><% if(campagne.etat_campagne == 2){ %> La campagne est terminée <% } %></td>
                </tr>
             <% }) %>
         </tbody>
     </table>

 </div>
 
<div id="modal_liste_campagnes"></div>
<script type="text/javascript" src="/public/assets/js/leads/campagnes.js"></script>