<link rel="stylesheet" href="/public/assets/css/manager/manager_directives.css">
<script type="text/javascript" src="/public/assets/js/manager_directives.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Directives Téléconseiller</h2>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-6 select_telec">
        <% findedUsers.forEach((user_directive) => { %>
        <%- include ../partials/user_directive %>
        <% }); %>
    </div>
    <div class="col-md-6 def_directive">
               <h2>Définir directive</h2>

        <div class="row"> 
            <label>DEP :</label><input id="deps" name="deps" type="text">
        </div>
        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('01') ? '' : 'disabled' %>>01</button>
            <button <%= session.Structures[0].deps.split(',').includes('02') ? '' : 'disabled' %>>02</button>
            <button <%= session.Structures[0].deps.split(',').includes('03') ? '' : 'disabled' %>>03</button>
            <button <%= session.Structures[0].deps.split(',').includes('04') ? '' : 'disabled' %>>04</button>
            <button <%= session.Structures[0].deps.split(',').includes('05') ? '' : 'disabled' %>>05</button>
            <button <%= session.Structures[0].deps.split(',').includes('06') ? '' : 'disabled' %>>06</button>
            <button <%= session.Structures[0].deps.split(',').includes('07') ? '' : 'disabled' %>>07</button>
            <button <%= session.Structures[0].deps.split(',').includes('08') ? '' : 'disabled' %>>08</button>
            <button <%= session.Structures[0].deps.split(',').includes('09') ? '' : 'disabled' %>>09</button>
            <button <%= session.Structures[0].deps.split(',').includes('10') ? '' : 'disabled' %>>10</button>

        </div>
        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('11') ? '' : 'disabled' %>>11</button>
            <button <%= session.Structures[0].deps.split(',').includes('12') ? '' : 'disabled' %>>12</button>
            <button <%= session.Structures[0].deps.split(',').includes('13') ? '' : 'disabled' %>>13</button>
            <button <%= session.Structures[0].deps.split(',').includes('14') ? '' : 'disabled' %>>14</button>
            <button <%= session.Structures[0].deps.split(',').includes('15') ? '' : 'disabled' %>>15</button>
            <button <%= session.Structures[0].deps.split(',').includes('16') ? '' : 'disabled' %>>16</button>
            <button <%= session.Structures[0].deps.split(',').includes('17') ? '' : 'disabled' %>>17</button>
            <button <%= session.Structures[0].deps.split(',').includes('18') ? '' : 'disabled' %>>18</button>
            <button <%= session.Structures[0].deps.split(',').includes('19') ? '' : 'disabled' %>>19</button>
            <button <%= session.Structures[0].deps.split(',').includes('20') ? '' : 'disabled' %>>20</button>

        </div>
        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('21') ? '' : 'disabled' %>>21</button>
            <button <%= session.Structures[0].deps.split(',').includes('22') ? '' : 'disabled' %>>22</button>
            <button <%= session.Structures[0].deps.split(',').includes('23') ? '' : 'disabled' %>>23</button>
            <button <%= session.Structures[0].deps.split(',').includes('24') ? '' : 'disabled' %>>24</button>
            <button <%= session.Structures[0].deps.split(',').includes('25') ? '' : 'disabled' %>>25</button>
            <button <%= session.Structures[0].deps.split(',').includes('26') ? '' : 'disabled' %>>26</button>
            <button <%= session.Structures[0].deps.split(',').includes('27') ? '' : 'disabled' %>>27</button>
            <button <%= session.Structures[0].deps.split(',').includes('28') ? '' : 'disabled' %>>28</button>
            <button <%= session.Structures[0].deps.split(',').includes('29') ? '' : 'disabled' %>>29</button>
            <button <%= session.Structures[0].deps.split(',').includes('30') ? '' : 'disabled' %>>30</button>
        </div>


        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('31') ? '' : 'disabled' %>>31</button>
            <button <%= session.Structures[0].deps.split(',').includes('32') ? '' : 'disabled' %>>32</button>
            <button <%= session.Structures[0].deps.split(',').includes('33') ? '' : 'disabled' %>>33</button>
            <button <%= session.Structures[0].deps.split(',').includes('34') ? '' : 'disabled' %>>34</button>
            <button <%= session.Structures[0].deps.split(',').includes('35') ? '' : 'disabled' %>>35</button>
            <button <%= session.Structures[0].deps.split(',').includes('36') ? '' : 'disabled' %>>36</button>
            <button <%= session.Structures[0].deps.split(',').includes('37') ? '' : 'disabled' %>>37</button>
            <button <%= session.Structures[0].deps.split(',').includes('38') ? '' : 'disabled' %>>38</button>
            <button <%= session.Structures[0].deps.split(',').includes('39') ? '' : 'disabled' %>>39</button>
            <button <%= session.Structures[0].deps.split(',').includes('40') ? '' : 'disabled' %>>40</button>

        </div>
        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('41') ? '' : 'disabled' %>>41</button>
            <button <%= session.Structures[0].deps.split(',').includes('42') ? '' : 'disabled' %>>42</button>
            <button <%= session.Structures[0].deps.split(',').includes('43') ? '' : 'disabled' %>>43</button>
            <button <%= session.Structures[0].deps.split(',').includes('44') ? '' : 'disabled' %>>44</button>
            <button <%= session.Structures[0].deps.split(',').includes('45') ? '' : 'disabled' %>>45</button>
            <button <%= session.Structures[0].deps.split(',').includes('46') ? '' : 'disabled' %>>46</button>
            <button <%= session.Structures[0].deps.split(',').includes('47') ? '' : 'disabled' %>>47</button>
            <button <%= session.Structures[0].deps.split(',').includes('48') ? '' : 'disabled' %>>48</button>
            <button <%= session.Structures[0].deps.split(',').includes('49') ? '' : 'disabled' %>>49</button>
            <button <%= session.Structures[0].deps.split(',').includes('50') ? '' : 'disabled' %>>50</button>

        </div>
        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('51') ? '' : 'disabled' %>>51</button>
            <button <%= session.Structures[0].deps.split(',').includes('52') ? '' : 'disabled' %>>52</button>
            <button <%= session.Structures[0].deps.split(',').includes('53') ? '' : 'disabled' %>>53</button>
            <button <%= session.Structures[0].deps.split(',').includes('54') ? '' : 'disabled' %>>54</button>
            <button <%= session.Structures[0].deps.split(',').includes('55') ? '' : 'disabled' %>>55</button>
            <button <%= session.Structures[0].deps.split(',').includes('56') ? '' : 'disabled' %>>56</button>
            <button <%= session.Structures[0].deps.split(',').includes('57') ? '' : 'disabled' %>>57</button>
            <button <%= session.Structures[0].deps.split(',').includes('58') ? '' : 'disabled' %>>58</button>
            <button <%= session.Structures[0].deps.split(',').includes('59') ? '' : 'disabled' %>>59</button>
            <button <%= session.Structures[0].deps.split(',').includes('60') ? '' : 'disabled' %>>60</button>
        </div>

        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('61') ? '' : 'disabled' %>>61</button>
            <button <%= session.Structures[0].deps.split(',').includes('62') ? '' : 'disabled' %>>62</button>
            <button <%= session.Structures[0].deps.split(',').includes('63') ? '' : 'disabled' %>>63</button>
            <button <%= session.Structures[0].deps.split(',').includes('64') ? '' : 'disabled' %>>64</button>
            <button <%= session.Structures[0].deps.split(',').includes('65') ? '' : 'disabled' %>>65</button>
            <button <%= session.Structures[0].deps.split(',').includes('66') ? '' : 'disabled' %>>66</button>
            <button <%= session.Structures[0].deps.split(',').includes('67') ? '' : 'disabled' %>>67</button>
            <button <%= session.Structures[0].deps.split(',').includes('68') ? '' : 'disabled' %>>68</button>
            <button <%= session.Structures[0].deps.split(',').includes('69') ? '' : 'disabled' %>>69</button>
            <button <%= session.Structures[0].deps.split(',').includes('70') ? '' : 'disabled' %>>70</button>

        </div>
        <div class="row directive_deps">

            <button <%= session.Structures[0].deps.split(',').includes('71') ? '' : 'disabled' %>>71</button>
            <button <%= session.Structures[0].deps.split(',').includes('72') ? '' : 'disabled' %>>72</button>
            <button <%= session.Structures[0].deps.split(',').includes('73') ? '' : 'disabled' %>>73</button>
            <button <%= session.Structures[0].deps.split(',').includes('74') ? '' : 'disabled' %>>74</button>
            <button <%= session.Structures[0].deps.split(',').includes('75') ? '' : 'disabled' %>>75</button>
            <button <%= session.Structures[0].deps.split(',').includes('76') ? '' : 'disabled' %>>76</button>
            <button <%= session.Structures[0].deps.split(',').includes('77') ? '' : 'disabled' %>>77</button>
            <button <%= session.Structures[0].deps.split(',').includes('78') ? '' : 'disabled' %>>78</button>
            <button <%= session.Structures[0].deps.split(',').includes('79') ? '' : 'disabled' %>>79</button>
            <button <%= session.Structures[0].deps.split(',').includes('80') ? '' : 'disabled' %>>80</button>
        </div>
        <div class="row directive_deps">
            <button <%= session.Structures[0].deps.split(',').includes('81') ? '' : 'disabled' %>>81</button>
            <button <%= session.Structures[0].deps.split(',').includes('82') ? '' : 'disabled' %>>82</button>
            <button <%= session.Structures[0].deps.split(',').includes('83') ? '' : 'disabled' %>>83</button>
            <button <%= session.Structures[0].deps.split(',').includes('84') ? '' : 'disabled' %>>84</button>
            <button <%= session.Structures[0].deps.split(',').includes('85') ? '' : 'disabled' %>>85</button>
            <button <%= session.Structures[0].deps.split(',').includes('86') ? '' : 'disabled' %>>86</button>
            <button <%= session.Structures[0].deps.split(',').includes('87') ? '' : 'disabled' %>>87</button>
            <button <%= session.Structures[0].deps.split(',').includes('88') ? '' : 'disabled' %>>88</button>
            <button <%= session.Structures[0].deps.split(',').includes('89') ? '' : 'disabled' %>>89</button>
            <button <%= session.Structures[0].deps.split(',').includes('90') ? '' : 'disabled' %>>90</button>
        </div>
        <div class="row directive_deps directive_deps2">
            <button <%= session.Structures[0].deps.split(',').includes('91') ? '' : 'disabled' %>>91</button>
            <button <%= session.Structures[0].deps.split(',').includes('92') ? '' : 'disabled' %>>92</button>
            <button <%= session.Structures[0].deps.split(',').includes('93') ? '' : 'disabled' %>>93</button>
            <button <%= session.Structures[0].deps.split(',').includes('94') ? '' : 'disabled' %>>94</button>
            <button <%= session.Structures[0].deps.split(',').includes('95') ? '' : 'disabled' %>>95</button>
            <button <%= session.Structures[0].deps.split(',').includes('96') ? '' : 'disabled' %>>96</button>
            <button <%= session.Structures[0].deps.split(',').includes('97') ? '' : 'disabled' %>>97</button>
            <button <%= session.Structures[0].deps.split(',').includes('98') ? '' : 'disabled' %>>98</button>
        </div>
 
        <div class="row directive_type">
            <select id="type_de_fichier">
                <option value="">Source de fichier</option>
                <% findedSource.forEach((source) => { %>
                    <option value="<%= source.DISTINCT %>"><%= source.DISTINCT %></option>
                <% }) %>
            </select>

            <select id="sous_type">
                <option value="">Type de fichier</option>
                <% findedType.forEach((type) => { %>
                    <option value="<%= type.DISTINCT %>"><%= type.DISTINCT %></option>
                <% }) %>
            </select>
            <a href="#"><i class="fas fa-check btn_item hover_btn3"></i></a>
        </div>
    </div>
</div>
