<link rel="stylesheet" href="/public/assets/css/manager/manager_directives.css">
<script type="text/javascript" src="/public/assets/js/manager_directives.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Directives Téléconseillers</h2>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p id="general_error_message" class="error_message" <% if(locals.infos && !infos.error) { %> style="display: none;" <% } %>>
            <% if(locals.infos && infos.error) { %>
            <%= infos.error %>
            <% } %>
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="div_telec" class="col-md-6">
            <% if(locals.telepros && telepros.length > 0) { %>
                <% for(const telepro of telepros) { %>
                    <%- include('../partials/user_directive.ejs', { telepro }) %>
                <% } %>
            <% } else { %>
                <p>Aucun téléconseiller disponible</p>
            <% } %>
        </div>
        <div id="div_directives" class="col-md-6">
            <h2>Définir directive</h2>

            <div class="col-sm-12" id="div_selectors">
                <div id="div_sources">
                    <select id="select_sources">
                        <option selected disabled value="">Sources de fichiers</option>
                        <% if(locals.sources && sources.length > 0) { %>
                            <option value="">Toutes les sources</option>
                            <%for(const source of sources) { %>
                                <% if(source.nom !== null && source.nom !== '') { %>
                                    <option value="<%= source.nom %>"><%= source.nom %></option>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <option>Aucune source disponible</option>
                        <% } %>
                    </select>                           
                    <select id="select_types">
                        <option selected disabled value="">Types de fichiers</option>
                        <% if(locals.typesFichiers && typesFichiers.length > 0) { %>
                            <option value="">Tous les fichiers</option>
                            <% for(const typeFichier of typesFichiers) { %>
                                <% if(typeFichier.nom !== null && typeFichier.nom !== '') { %>
                                    <option value="<%= typeFichier.nom %>"><%= typeFichier.nom %></option>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <option>Aucun type disponible</option>
                        <% } %>
                    </select>   
                </div>
                <!-- <div class="row campagnes">
                    <% campagnes.forEach((element) => { %>
                        <button id="<%= element.id %>" data-deps="<%= element.deps %>"><%= element.nom %></button>
                    <% }) %>
                    <a href="#"><i class="fas fa-check btn_item hover_btn3"></i></a>
                </div> -->
                <select id="select_zones">
                    <option disabled selected value="">Sélection de la zone</option>
                    <% if(locals.zones) for(const zone of zones) { %>
                    <option value="<%= `zone_${zone.id}` %>" data-deps="<%= zone.deps %>"><%= `${zone.nom} (${zone.deps})` %></option>
                    <% } else if(locals.infos && infos.message !== undefined) { %>
                    <option value="" selected><%= infos.message %></option>
                    <% } else { %>
                    <option value="" selected>Aucune zone disponible</option>
                    <% } %>
                </select>
                <label id="infos_select_zone" for="select_zones" style="display: none;"></label>
                <select id="select_sous-zones">
                    <option disabled selected value="">Sélection de la sous-zone</option>
                </select>
                <label id="infos_select_sous-zone" for="select_sous-zones" style="display: none;"></label>
                <select id="select_agences">
                    <option disabled selected value="">Sélection de l'agence</option>
                </select>
                <label id="infos_select_agence" for="select_agences" style="display: none;"></label>
                <div id="listeVendeurs">
                    <label id="infos_listeVendeurs" for="listeVendeurs" style="display: none;"></label>
                    <p>Aucun vendeur disponible.</p>
                </div>
            </div>
            <div class="col-sm-12" id="div_deps">
                <div class="row">
                <% for(let i = 1; i <= 98; i++) { %>
                    <% const val = (i < 10) ? `0${i}` : `${i}` %>
        
                    <% let buttonClass = 'btnDep' %>
                    <% if(locals.depsAvailable && !depsAvailable.includes(val)) buttonClass += ' dep_disabled' %>
        
                    <button class="<%= buttonClass %>" data-value="<%= val %>"><%= val %></button>            
                    <!-- <% if(i % 10 === 0) { %>
                        </div>
                        <div class="row">
                    <% } %> -->
                    
                <% } %>
                </div>
            </div>
            <div class="col-sm-12" id="div_validation">
                <button type="button" id="btnCancel" class="hover_btn1">Annuler</button>
                <button type="button" id="btnValidate" class="hover_btn1">Valider</button>                
            </div>
            <div class="col-sm-12" id="div_infosDirectives" style="display: none;">
                
            </div>
        </div>
    </div>
</div>