<link rel="stylesheet" href="/public/assets/css/manager/manager_listerdv.css">
<link rel="stylesheet" href="/public/assets/css/listrdv_modalrdv.css">
<link rel="stylesheet" href="/public/assets/css/bloc_rdv.css">
<script defer type="text/javascript" src="/public/assets/js/manager_listerdv.js"></script>
<script defer type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>  

<%- include('../partials/topbar/topbar.ejs') %>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

<% if(locals.agences) { %>
	<% const multiAgences = agences.length > 1 %>
	<div class="" <% if(!multiAgences) { %> style="display: none;" <% } %> >
		<h2>Agences</h2>
		<div class="row">
			<div class="col-sm-12">
				<ul class="listeAgences">					
					<li class="btnAgence <%= multiAgences ? 'active' : '' %>" data-for="" data-id="">TOUTES</li>
					<% agences.forEach(agence => { %>
						<li class="btnAgence <%= !multiAgences ? 'active' : '' %>" data-for="<%= agence.nom %>" data-id="<%= agence.id %>"><%= agence.nom %></li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
<% } %>

<div class="row titre_manager_listerdv">
    <div class="col-md-6">
        <h2>Rendez-vous</h2> 
        <a><i class="fas fa-download hover_btn3 agency"></i></a>
    </div>    
    <div class="col-md-6" id="divSwitchAffichage">        
        <label for="isAffichageTuile">Vignettes</label>
        <label class="switch">
            <input type="checkbox" id="isAffichageTuile" checked>
            <span class="slider round"></span>
        </label>
        <label for="isAffichageTuile">Tableau</label>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p id="general_error_message" class="error_message" <% if(!locals.infos) { %> style="display: none;" <% } %> >
        <% if(locals.infos) { %>
            <%= infos.error || infos.message %>
        <% } %>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="row selectdate_rdv">
            <p>Du:</p>
            <input type="text" name="datedebut" class="datepicker" value="<%= date %>"  autocomplete="off">
            <p> au: </p>
            <input type="text" name="datefin" class="datepicker" value="<%= date %>"  autocomplete="off">
            <p class="nbrdvs "></p>
            <p class="rdvconf"></p>

        </div>
    </div>
    <div class="col-md-4">
        <div class="row selectdate_rdv">
            <label>Rechercher : </label>
            <input type="text" id="rechercher_listerdv" name="rechercher_listerdv"  onkeyup="this.value = this.value.toUpperCase();">
        </div>
    </div>
    <div class="row rdvs" id="displayrdv">
        
    </div>
</div>
<div id="modal_liste_RDV"></div>
