<link rel="stylesheet" href="/public/assets/css/terrain/terrain_prospection.css">
<link rel="stylesheet" href="/public/assets/css/listrdv_modalrdv.css">
<link rel="stylesheet" type="text/css" href="/public/assets/lib/jquery.datetimepicker.min.css">


 
    <%- include('../partials/topbar/topbar.ejs') %>


<div class="row">
    <div class="col-md-6">
        <h2><%= findedClient.dep %> - <%= findedClient.source %> - <%= findedClient.type %></h2>
    </div>
</div>

<div class="row ctn_infos_client">
    <%- include('../partials/traitementclient/info_client.ejs') %>
</div>
<div class="traitement_ctn">
            <%- include('../partials/traitementclient/traitement_client') %>
            <div class="phase2">
                 
            </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Historique</h2>
    </div>
</div>

<div class="ctn_table">
    <%- include('../partials/traitementclient/histo_client') %>
</div>

<script type="text/javascript" src="/public/assets/js/teleconseiller/prospection.js"></script>
<script type="text/javascript" src="/public/assets/js/modifier_client.js"></script>
<script type="text/javascript" src="/public/assets/js/traiter_client.js"></script>
<script type="text/javascript" src="/public/assets/lib/jquery.datetimepicker.full.min.js"></script>