<link rel="stylesheet" href="/public/assets/css/terrain/terrain_objectifs.css">
<script type="text/javascript" src="/public/assets/lib/moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/public/assets/js/manager_objectifs.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>



<div class="row">
    <div class="col-md-6">
        <h2>Objectifs rendez-vous</h2>
    </div>

</div>



<div class="row">
    <div class="objectifsjour">
        <!--        <h2 class="day">Département 00</h2>-->

        <div class="validsearch">
            <input type="number" placeholder="00">
            <button><i class="fas fa-check btn_item hover_btn3"></i></button>
        </div>

        <div class="ctn_table">

            <table>
                <thead>
                    <th></th>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                </thead>
                <tbody>

                    <!--
                    <% //findedUsers.forEach((user) => { %>
                    <tr id="com_<%= //user.id %>">
                        <td><%= //user.nom+' '+user.prenom %></td>
                        <td class="m"><%= %></td>
                        <td class="am"><%= %></td>
                        <td class="s"><%= %></td>
                        <td class="t"><%= //user.objectif %></td> 
                    </tr>
                    <% //}) %>
                    !-->

                    <tr>
                        <td>MATIN</td>
                        <td></td>
                        <td>
                            <ul>
        
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                            </ul>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>


                    <tr>
                        <td>MIDI</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <ul>
                
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                            </ul>
                        </td>
                    </tr>



                    <tr>
                        <td>SOIR</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <ul>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>
                                <li>53 - 15h00</li>

                            </ul>
                        </td>
                        <td></td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Objectif</th>
                        <th>0/X</th>
                        <th>0/X</th>
                        <th>0/X</th>
                        <th>0/X</th>
                        <th>0/X</th>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>




</div>
