<link rel="stylesheet" href="/public/assets/css/terrain/terrain_searchclient.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Rechercher un client</h2>
    </div>

</div>
<div class="container-fluid">
<div class="row searchclient_ctn">
    <div class="searchclient">
        <label for="statut">Statut :</label>
        <select name="statut" id="statut">
                <option value="">TOUS</option>
                <option value="null">A TRAITER</option>
            <% //findedActions.forEach((findedAction) => { 
               // if(//findedAction.id != 2){
                %>
                <option value="<%= //findedAction.id %>"><%=// findedAction.nom %></option>    
            <% //}}) %>
        </select>
    </div>
    <div class="searchclient">
        <label for="sousstatut">Sous Statut :</label>
        <select name="sousstatut" id="sousstatut">
            <option value="">TOUS</option>
        <% //findedSousTypes.forEach((findedSousType) => { %>
            <option value="<%= //findedSousType.sousstatut %>"><%= //findedSousType.sousstatut %></option>    
        <% //}) %>
    </select>
    </div>
    <div class="searchclient">
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom">
    </div>
    <div class="searchclient">
        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" id="prenom">
    </div>
    <div class="searchclient">
        <label for="dep">DEP :</label>
        <input type="text" name="dep" id="dep">
    </div>
    <div class="searchclient">
        <label for="tel">Tel :</label>
        <input type="text" name="tel" id="tel">
    </div>
</div>
</div>

<div  class="validsearch">
<button><i class="fas fa-check btn_item hover_btn3"></i></button>
</div>

<div id="search-box"></div>

  <main>

      <div id="pagination"></div>
  </main>

<div class="ctn_table">

<table class="table table-striped table-condensed">
        <thead>
            <th  class="tableau_nom">Nom</th>
            <th  class="tableau_prenom">Prénom</th>
            <th  class="tableau_cp">Code postal</th>
            <th class="tableau_ville">Ville</th>
            <th class="tableau_statut">Statut</th>
            <th class="tableau_sousstatut">Sous Statut</th>
            <th class="tableau_daterappel">Date dernier contact</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>
   </div>
<!--<script src="/public/assets/js/recherche_clients.js"></script>-->