<link rel="stylesheet" href="/public/assets/css/marketing/besoins_commandes.css">

    <%- include('../partials/topbar/topbar.ejs') %>



     <div class="row">
         <div class="col-md-6">
             <h2>Besoins commandes</h2>
         </div>

     </div>
     
        
<div class="ctn_table">

<table>
        <thead>

            <th class="tableau_dep">DEPs</th>
            <th class="tableau_nbV">LNb Vendeurs</th>
            <th class="tableau_rdvsem">Besoin RDV/SEM</th>
            <th class="tableau_rdvjour">Besoin RDV/Jours</th>
            <th class="tableau_commande">Leads à commander</th>
            <th class="tableau_tauxtrans">Taux transf LT/RDV</th>


        </thead>
        <tbody>
            <tr id="historique_ligne">
                <% let v1 = (4339/407).toFixed(2) %>
                <td>78, 27</td>
                <td>1</td>
                <td>10</td>
                <td>2</td>
                <td><%= (v1*10).toFixed(2) %></td>
                <td><%= v1 %></td>
            </tr>
            <tr id="historique_ligne">
                <% let v2 = (4732/398).toFixed(2) %>
                <td>21, 39, 58, 70, 71, 52, 58</td>
                <td>1</td>
                <td>10</td>
                <td>2</td>
                <td><%= (v2*10).toFixed(2) %></td>
                <td><%= v2 %></td>
            </tr>
            <tr id="historique_ligne">
                <% let v3 = (5053/625).toFixed(2) %>
                <td>22, 35, 44, 56</td>
                <td>1</td>
                <td>10</td>
                <td>2</td>
                <td><%= (v3*10).toFixed(2) %></td>
                <td><%= v3 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v4 = (3799/336).toFixed(2) %>
                    <td>85</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v4*10).toFixed(2) %></td>
                    <td><%= v4 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v5 = (6887/678).toFixed(2) %>
                    <td>17, 79, 85</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v5*10).toFixed(2) %></td>
                    <td><%= v5 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v6 = (6481/278).toFixed(2) %>
                    <td>07, 30, 34, 48, 84</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v6*10).toFixed(2) %></td>
                    <td><%= v6 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v7 = (7081/452).toFixed(2) %>
                    <td>04, 06, 13, 83, 84</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v7*10).toFixed(2) %></td>
                    <td><%= v7 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v8 = (304/38).toFixed(2) %>
                    <td>54, 55, 57</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v8*10).toFixed(2) %></td>
                    <td><%= v8 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v9 = (4985/489).toFixed(2) %>
                    <td>36, 37, 86, 87</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v9*10).toFixed(2) %></td>
                    <td><%= v9 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v10 = (8150/869).toFixed(2) %>
                    <td>59, 62</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v10*10).toFixed(2) %></td>
                    <td><%= v10 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v11 = (8150/869).toFixed(2) %>
                    <td>59, 62</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v11*10).toFixed(2) %></td>
                    <td><%= v11 %></td>
            </tr>
            <tr id="historique_ligne">
                    <% let v13 = (8150/869).toFixed(2) %>
                    <td>59, 62</td>
                    <td>1</td>
                    <td>10</td>
                    <td>2</td>
                    <td><%= (v13*10).toFixed(2) %></td>
                    <td><%= v13 %></td>
            </tr>
        </tbody>
    </table>
    
   </div>