<link rel="stylesheet" href="/public/assets/css/manager/manager_agenda.css">
<link rel="stylesheet" href="/public/assets/css/custom_calendar.css">


<link rel="stylesheet" href="/public/assets/lib/jquery.datetimepicker.min.css">

<link rel="stylesheet" href="/node_modules/@fullcalendar/core/main.css">
<link rel="stylesheet" href="/node_modules/@fullcalendar/daygrid/main.css">
<link rel="stylesheet" href="/node_modules/@fullcalendar/timegrid/main.css">

<script type="module" src="/node_modules/@fullcalendar/core/main.js"></script>
<script type="module" src="/node_modules/@fullcalendar/daygrid/main.js"></script>
<script type="module" src="/node_modules/@fullcalendar/timegrid/main.js"></script>

<script type="module" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="module" src="/public/assets/lib/tippyjs/popper.min.js"></script>
<script type="module" src="/public/assets/lib/tippyjs/tippy-bundle.umd.min.js"></script>
<link rel="stylesheet" href="/public/assets/lib/tippyjs/material.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script type="module" src="/public/assets/js/dirco/dirco_agenda.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Agenda</h2>
    </div>
</div>

<div id="calendar"></div> 

<div class="container-fluid">
    
    
    <h2>Ajouter un événement</h2>


<div class="row">
<div class="col-md-12">

   <div id="formEvent">
       <label>Commercial : </label>
       <select id="commercial" name="idCommercial">
           <% findedUsers.forEach((user) => { %>
           <option value='<%= user.id %>'><%= user.nom+' '+user.prenom %></option>
           <% }) %>
       </select>
       
       
       <label>Motif : </label>
       <input type="text" name="motif">
     
       
       <div class="date_ctn">
       
        <div class="date">
            <label>Début :</label>
            <input type="text" class="datetime" name="start">
            <label>Fin :</label>
            <input type="text" class="datetime" name="end">
        </div>
       <input type="checkbox" name="allDay" id="alldaycheck">
       <label for="alldaycheck">Toute la journée</label>
      </div>
      
         <input type="checkbox" name="recurcivite" id="recursivite">
       <label for="recursivite">Récursivité</label>
       
       <div class="rdate">
           <label>Début :</label>
           <input type="text" class="datee" name="recustart" autocomplete="off">
           <label>Fin :</label>
           <input type="text" class="datee" name="recuend" autocomplete="off">
           <select class="form-control" name="recu">
               <option value="1">Lundi</option>
               <option value="2">Mardi</option>
               <option value="3">Mercredi</option>
               <option value="4">Jeudi</option>
               <option value="5">Vendredi</option>
               <option value="6">Samedi</option>
               <option value="7">Dimanche</option>
           </select>
           
       </div>
      
       <button id="addEvent">
       <i class="fas fa-check btn_item hover_btn3"></i>
       </button>
   </div>
   
   
   
   <h2>Liste des événements</h2>

   <div id="liste_event" class="ctn_table">
       <table>
           <thead>
               <th>Nom Prénom</th>
               <th>Date Début</th>
               <th>Date Fin</th>
               <th>Motif</th>
               <th>Toute la Journée</th>
               <th>Action</th>
           </thead>
           <tbody id="listeevent">
               <% findedEvents.forEach((event) => { %>
               <tr>
                   <td><%= event.User.nom+' '+event.User.prenom %></td>
                   <td><%= event.allDay == 'true' ? event.start.split(' ')[0] : event.start %></td>
                   <td><%= event.allDay == 'true' ? event.end.split(' ')[0] : event.end %></td>
                   <td><%= event.motif ? event.motif : 'Aucun' %></td>
                   <td><%= event.allDay == 'false' ? 'NON' : 'OUI' %></td>
                   <td><button class="btn supprimer_event" id="event_<%= event.id %>">Supprimer</button></td>
               </tr>
               <% }) %>
           </tbody>
       </table>
   </div>
</div>
</div>
</div>