     <link rel="stylesheet" href="/public/assets/css/vendeur/dirco_histo.css">
     <link rel="stylesheet" href="/public/assets/css/vendeur/vendeur_dashboard.css">
     <script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>




<div class="row">
    <div class="col-md-6">
        <h2>Historique</h2>
    </div>

</div>





<div class="ctn_table">

<table class="table table-striped table-condensed">
        <thead>
            <th  class="tableau_nom">Nom</th>
            <th  class="tableau_prenom">Prénom</th>
            <th  class="tableau_cp">Code postal</th>
            <th class="tableau_ville">Ville</th>
            <th class="tableau_statut">Statut</th>
            <th class="tableau_daterappel">Date RDV</th>
        </thead>
        <tbody>
            <% findedRdvs.forEach((rdv) => { %>
                <tr>
                    <td><%= rdv.Client.nom %></td>
                    <td><%= rdv.Client.prenom %></td>
                    <td><%= rdv.Client.cp %></td>
                    <td><%= rdv.Client.ville %></td>
                    <td><%= rdv.Etat.nom %></td>
                    <td><%= rdv.date %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
   </div>