     <link rel="stylesheet" href="/public/assets/css/vendeur/vendeur_dashboard.css">
     <script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>

<%- include('partials/topbar/topbar.ejs') %>


     <div class="row titre_vendeur_dash">
         <div class="col-md-6">
             <h2>Rendez-vous du jour</h2>
             <a><i class="fas fa-download hover_btn3"></i></a>
         </div>
         <div class="col-md-6">
             <h2>Rendez-vous du lendemain</h2>
             <a><i class="fas fa-download hover_btn3"></i></a>
         </div>
     </div>





     <div class="row rdvs_vendeur_dash">
         <div class="col-md-6 ctn_rdvs_auj">
             
             <%- include('./partials/bloc_rdv_jour', {options: 'option_bloc_rdv_jour'}); %>
             
             <%- include('./partials/bloc_rdv_jour', {options: 'option_bloc_rdv_jour'}); %>
             
             <%- include('./partials/bloc_rdv_jour', {options: 'option_bloc_rdv_jour'}); %>

            
         </div>



         <div class="col-md-6 ctn_rdvs_lend">

             <%- include('./partials/bloc_rdv_jour', {options: 'option_bloc_rdv_lendemain'}); %>
              <%- include('./partials/bloc_rdv_jour', {options: 'option_bloc_rdv_lendemain'}); %>
               <%- include('./partials/bloc_rdv_jour', {options: 'option_bloc_rdv_lendemain'}); %>
        
        
        
         </div>  
     </div>



     <div class="row titre_vendeur_dash">
         <div class="col-md-6">
             <h2>Géolocalisation</h2>
         </div>
         <div class="col-md-6">
             <h2>Statistiques</h2>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-6">
         </div>
         <div class="col-md-6">
         </div>
     </div>
 



