<div class="ctn_rdv_auj" id="<%= rdv.id %>">
                 <h6><%= rdv.date %></h6>
                 <p><%= rdv.Client.nom %> <%= rdv.Client.prenom %></p>
                 <p><%= rdv.Client.cp %> <%= rdv.Client.ville %></p>
                 <p><%= rdv.Client.adresse %></p>
                 
                 <div class="options_template">
                     <% if(typeof options_template != 'undefined'){ %>
                        <%- include(options_template) %>>
                     <% } %>
                 </div>
             </div>