<div class="telec_item" id="<%= telepro.id %>" data-deps="<%= telepro.Structures[0].deps %>">
    <div class="row tel_item1">
        <div><%= telepro.nom %> <%= telepro.prenom %></div>
        <div class="deps"><%= telepro.Directive != null ? telepro.Directive.deps : '' %></div>
    </div>
    <div class="row tel_item2">
        <p class="count">Total de ligne disponibles pour cette directives : <%= typeof telepro.dataValues != 'undefined' ? telepro.dataValues.count : telepro.count %></p>
        <p class="type_de_fichier"><%= telepro.Directive != null ? telepro.Directive.type_de_fichier : '' %></p>
        <p class="campagnes_select"><%if(telepro.Directive != null && telepro.Directive.campagnes != null){if(telepro.Directive.campagnes.split(',') != 0 && telepro.Directive.campagnes.split(',') != '' ){ telepro.Directive.campagnes.split(',').forEach((campagne, index) => { %><%= _.find(findedCampagnes, {id: parseInt(campagne)}) != null ? _.find(findedCampagnes, {id: parseInt(campagne)}).nom+(index + 1 ==  telepro.Directive.campagnes.split(',').length ? '' : ' / ') : "" %><% })}}%></p>
        <p class="sous_type"><%= telepro.Directive != null ? telepro.Directive.sous_type : '' %></p>
    </div>
</div>