<script type="text/javascript" src="/public/assets/lib/moment/moment-with-locales.min.js"></script>
<script defer type="text/javascript" src="/public/assets/js/statistiques/podium/podium.js"></script>

<link rel="stylesheet" href="/public/assets/css/statistiques/stats_podium.css">


<%- include('../partials/topbar/topbar.ejs') %>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>
<!--

<div class="row">
    <div class="col-md-6">
        <h2>Podium</h2>
    </div>
</div>
-->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 suivi_ventes_ctn">
            <% moment.locale('fr') %>
            <% const today = moment() %>    
    
            <div id="ventes_jour">
                <h3><%= `SUIVI DES VENTES DU ${today.format('DD/MM/YYYY')}` %></h3>
                <div class="ventes_jour_ctn" id="content_ventes_jour"></div>
            </div>
            <div id="ventes_mois">
                <h3><%= `PODIUM VENDEURS ${today.format('MMMM YYYY').toUpperCase()}` %></h3>
                <div id="content_ventes_mois"></div>
                <h3 id="nb_ventes_mois" class="rouge"></h3>
            </div>
        </div>
        <div class="col-md-6 listing" id="listing_ventes">
            <h3>LISTING DES VENTES <span id="dates_listing_ventes"><%= today.format('MMMM YYYY').toUpperCase() %></span></h3>
            <div class="row">
                <p>Du : </p>
                <input type="text" name="dateDebut" class="datepicker" value="<%= moment().startOf('month').format('DD/MM/YYYY') %>" autocomplete="off">
                <p> au : </p>
                <input type="text" name="dateFin" class="datepicker" value="<%= moment().endOf('month').format('DD/MM/YYYY') %>" autocomplete="off">
            </div>
            <div class="row">
                <p>Affichage : </p>
                <input type="radio" id="ventes_custom_aggregated" name="ventes_custom_type" value="aggregated">
                <label for="ventes_custom_aggregated">Regroupement par vendeur</label>
                <input type="radio" id="ventes_custom_all" name="ventes_custom_type" value="all" checked>
                <label for="ventes_custom_all">Tous</label>
            </div>
            <div class="row" id="content_listing_ventes"></div>
        </div>
    </div>
</div>